.extselect-container {
	outline: none;
	border: 1px solid #C7C7C7;
	border-radius: 2px;
	background: white;
	width: 150px;
	vertical-align: top;

	display: inline-block;
	*display: inline;
	*zoom: 1;

	box-shadow: 0px 2px 4px rgba(170, 170, 170, 0.15), inset 0 1px 1px rgba(0, 0, 0, 0.075);
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-ms-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

.extselect-container.extselect-state-editable {
	cursor: text;
}

.extselect-container.extselect-state-dropdownopened {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


.extselect-container.extselect-state-unattached,
.extselect-container.extselect-state-disabled {
	
}

.extselect-container.extselect-state-hidden {
	display: none;
}

.extselect-container.extselect-state-error {
	border-color: #9D3E3C!important;
	box-shadow: rgba(0, 0, 0, 0.071) 0px 1px 1px 0px inset, rgba(213, 147, 146, 0.655) 0px 0px 3px 0px!important;
}

.extselect-container, .extselect-container * {
	padding: 0;
	margin: 0;
}

.extselect-container > div:first-child {
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 100%;
	margin-right: -17px!important;
	vertical-align: middle;
}

.extselect-container.extselect-state-readonly > div:first-child {
	margin-right: -40px!important;
}

.extselect-container.extselect-state-focus, 
.extselect-container.extselect-state-focus .extselect-btn {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: rgba(0, 0, 0, 0.071) 0px 1px 1px 0px inset, rgba(82, 168, 236, 0.600) 0px 0px 8px 0px;
	outline: 1px dotted #555555;
}

.extselect-container.extselect-state-disabled, 
.extselect-container.extselect-state-disabled .extselect-btn, 
.extselect-container.extselect-state-disabled * {
	background-color: #F7F7F7!important;
	box-shadow: none!important;
	cursor: default !important;
}

.extselect-container.extselect-state-disabled .extselect-clrbtn {
	visibility: hidden;
}

.extselect-container.extselect-state-disabled .extselect-btn,
.extselect-container.extselect-state-disabled .extselect-input {
	border: none!important;
	opacity: 0.3;
}

.extselect-container.extselect-state-disabled .extselect-input {
	text-shadow: white 2px 2px 2px;
}

.extselect-container.extselect-state-hidden {
	display: none;
}

.extselect-container .extselect-input {
	/*height: 19px;
	line-height: 19px;*/
	border: none;
	background: white;
	text-indent: 5px;
	outline:none;
	display: block;
	width: 100%;
	text-align: left;

	padding: 2px 0 3px 0;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	
	color: #333333;
	
	box-shadow: none;
	
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: all;
	-o-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

.extselect-container.extselect-state-disabled .extselect-input {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.extselect-container.extselect-state-placeholder .extselect-input {
	color: #AAAAAA;
}

.extselect-container .extselect-btn {
	background: white url('../images/select-arrow.png') center center no-repeat !important;
	cursor: pointer;
	display: none;
	border: none;
	border-left: 1px solid #A0A0A0;
	border-radius: 2px;

	background-color: #F2F2F2!important;
	
	width: 21px;
	height: 24px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
	
	margin-left: 4px!important;
}

.extselect-container.extselect-state-enabled:hover .extselect-btn {
	background-color: #E8ECED !important;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.extselect-container .extselect-clrbtn {
	background: transparent url('../images/select-clearselection.png') center center no-repeat;
	width: 14px;
	height: 23px;
	cursor: pointer;
	margin-right: 0px!important;
	opacity: 0.7;
	
	-o-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}


.extselect-container.extselect-state-enabled .extselect-clrbtn:hover {
	opacity: 1;
}

.extselect-container.extselect-state-readonly .extselect-btn,
.extselect-container .extselect-clrbtn {
	vertical-align: top;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.extselect-container .extselect-dropdownwrapper {
	position: relative;
	overflow: visible;
	z-index: 100;
	
	width: 100%;
	height: 0px;
}

/* ------------- STYLE FOR DROPDOWN ---------------- */

.extdropdown-container {
	position: absolute;
	
	max-width: 500px;
	border: 1px solid gray;
	border: 1px solid rgba(0, 0, 0, 0.3);
	text-align: left;

	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);

	margin: 0 0 0 -1px;
	
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	
	background: white;
	background: rgba(255, 255, 255, 0.93);

	cursor: default;
}
/* врапер для отделеня элементов от футера (чтоб прикольный скрол зделать) */
.extdropdown-container .extdropdown-wrapfoot {
	position: relative;
}
.extdropdown-container .extdropdown-wraphead {}

.extdropdown-container .extdropdown-header,
.extdropdown-container .extdropdown-footer{
	color: #555555;
	font-weight: bold;
	background: white;
	text-indent: 5px;
	line-height: 20px;
}

.extdropdown-container .extdropdown-header {
	border-bottom: 1px solid #DDDDDD;
}

.extdropdown-container .extdropdown-footer {
	border-top: 1px solid #DDDDDD;
}

.extdropdown-container .extdropdown-searcher {
	/*top: 12px;  header height + border */
	margin: 2px 0;
	margin-right: 6px;
}

.extdropdown-container .extdropdown-searcher input {
	display: inline-block;
	box-sizing: border-box;
	border-radius: 0;
	width: 100%;
	border: 1px solid #CCC;
	height: 20px;
	line-height: 20px;
	padding: 0 2px;
	margin: 2px 3px;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px inset, rgba(82, 168, 236, 0.28) 0px 0px 3px 0px;
}

.extdropdown-container .extdropdown-items,
.extdropdown-container .extdropdown-group {
	list-style: none;
	padding: 0;
	margin: 0;
}

.extdropdown-container .extdropdown-items {
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	max-height: 220px;
}

.extdropdown-container .extdropdown-items::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  overflow: visible;
}

.extdropdown-container .extdropdown-items::-webkit-scrollbar-thumb {
	min-height: 20px;
	padding: 100px 0 0;
	border: solid transparent;
	border-width: 1px 1px 1px 6px;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.15),inset 0 -1px 0 rgba(0,0,0,.1);
	background-color: rgba(0,0,0,.3);
	background-clip: padding-box;
}

.extdropdown-container .extdropdown-items .extdropdown-item {
	font-size: 13px;
	color: black;
	display: block;
	line-height: 22px;

	/*text-indent: 7px;*/
	padding: 0 18px 0 7px;
	min-height: 22px;

	/*cursor: pointer;*/
	
	white-space: pre-wrap;
	
}

.extdropdown-container .extdropdown-items .extdropdown-item:nth-child(even) {
	background-color: rgba(230, 230, 230, 0.25);
}

.extdropdown-container .extdropdown-items .extdropdown-item.extdropdown-state-itemhovered,
.extdropdown-container .extdropdown-items .extdropdown-item.extdropdown-state-itemselected {
	display: block;
	background-color: #0088CC;
	color: white;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.extdropdown-container .extdropdown-items .extdropdown-item.extdropdown-state-itemmultiselected {
	display: none;
}

.extdropdown-container .extdropdown-itemgroup .extdropdown-grouplabel {
	font-weight: bold;
	white-space: nowrap;
	padding: 5px 20px 0 7px;
	text-decoration: underline;
}

.extdropdown-container .extdropdown-group .extdropdown-item {
	padding-left: 20px;
}

/**
 * Это элемент-разделитель
 **/
.extdropdown-container .extdropdown-item.extdropdown-state-isseparator {
	height: 1px;
	min-height: 1px;
	max-height: 1px;
	line-height: 1px;
	background-color: lightgray!important;
	margin: 8px auto;
	text-indent: -9999px;
}

/**
 * Это элемент у пустого селекта
 **/
.extdropdown-container .extdropdown-item.extdropdown-state-isempty {
	color: gray;
}

/**
 * Это элемент в начале селекта
 **/
.extdropdown-container .extdropdown-item.extdropdown-state-isprompt {
	color: gray;
}

.extdropdown-container .extdropdown-item extdropdown-state-match {
	display: inline;
}

/* ------------- STYLE FOR MULTISELECT ---------------- */
.extselect-container.extselect-multiple {
}

.extselect-container.extselect-multiple .extselect-btn,
.extselect-container.extselect-multiple .extselect-clrbtn {
	display: none;
}

.extselect-container.extselect-multiple .extselect-inputwrapper {
	margin: 0;
}

.extselect-container.extselect-multiple .extselect-input,
.extselect-container.extselect-multiple .extselect-items {
	min-height: 19px;
	vertical-align: middle;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow: hidden;
	text-indent: 0;
	
	display: inline;
	background-color: transparent;
}

.extselect-container.extselect-multiple .extselect-input {
	width: auto;
	overflow: visible;
	min-width: 10px;
	text-indent: 5px;
	
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.extselect-container.extselect-multiple .extselect-items .extselect-itemmultiple {
	
	box-sizing: content-box;
	margin: 0 2px;
	outline: none;
	vertical-align: middle;
	margin: 0;
	/*padding: 1px;*/
	border: 1px solid #3F980E;
	border-radius: 3px;
	background: #67AE3F;
	color: white;
	text-indent: 0;
	
	line-height: 16px;
	cursor: default;
	
	
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.extselect-container.extselect-multiple .extselect-items .extselect-itemmultiple.extselect-state-blue {
	border-color: #057BAC;
	background-color: #1DA1D8;
}

.extselect-container.extselect-state-dropdownopened.extselect-multiple .extselect-items .extselect-itemmultiple:hover {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.extselect-container.extselect-multiple .extselect-items .extselect-itemmultiple .extselect-text {
	padding: 0 13px 0 2px;
	margin: 0 2px;
	border-top: 1px solid white; /* white for old browsers*/
	border-color: rgba(255, 255, 255, 0.45); 
	line-height: 15px;
	vertical-align: top;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.extselect-container.extselect-multiple .extselect-items .extselect-itemmultiple .extselect-rmbtn {
	opacity: 0.7;
	cursor: pointer;
	background: transparent url('../images/select-remove-item-white.png') 60% bottom no-repeat !important;
	display: block;
	height: 12px;
	width: 13px;
	position: absolute;
	right: 0;
	top: 0;
	color: black;
	
	-o-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

.extselect-container.extselect-multiple .extselect-items .extselect-itemmultiple .extselect-rmbtn:hover {
	opacity: 1;
}