* {
	margin:0;
	padding:0;
	font-weight:normal;
	font-family: 'Open Sans', sans-serif;
}

html, body.land {
	height:100%;
	min-height:600px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top center;
}

body.land.bg1 { background-image:url("../img/bg.jpg"); }
body.land.bg2 { background-image:url("../img/bg2.jpg"); }
body.land.bg3 { background-image:url("../img/bg3.jpg"); }
body.land.bg4 { background-image:url("../img/bg4.jpg"); }
body.land.bg5 { background-image:url("../img/bg5.jpg"); }
body.land.bg6 { background-image:url("../img/bg6.jpg"); }
body.land.bg7 { background-image:url("../img/bg7.jpg"); }
body.land.bg8 { background-image:url("../img/bg8.jpg"); }
body.land.bg9 { background-image:url("../img/bg9.jpg"); }
body.land.bg10 { background-image:url("../img/bg10.jpg"); }
body.land.bg11 { background-image:url("../img/bg11.jpg"); }
body.land.bg12 { background-image:url("../img/bg12.jpg"); }
body.land.bg13 { background-image:url("../img/bg13.jpg"); }
body.land.bg14 { background-image:url("../img/bg14.jpg"); }
body.land.bg15 { background-image:url("../img/bg15.jpg"); }
body.land.bg16 { background-image:url("../img/bg16.jpg"); }
body.land.bg17 { background-image:url("../img/bg17.jpg"); }
body.land.bg18 { background-image:url("../img/bg18.jpg"); }
body.land.bg19 { background-image:url("../img/bg19.jpg"); }
body.land.bg20 { background-image:url("../img/bg20.jpg"); }
body.land.bg21 { background-image:url("../img/bg21.jpg"); }
body.land.bg22 { background-image:url("../img/bg22.jpg"); }
body.land.bg23 { background-image:url("../img/bg23.jpg"); }

body.land:after {
	content:
        url('../img/present-modal3-img.png')
        url('../img/present-modal3.jpg')
        url('../img/cool-modal-3-close.png')
    ;
    display:none;
}

input[type="submit"], input[type="button"] { -webkit-appearance:none; }
a img { border:none; }
a { outline:none; }

.clear { clear:both; }
.to-left { float:left; }
.to-right { float:right; }
.center { text-align:center; }

.page, .section {
	margin:0 auto;
	min-width:1000px;
	position:relative;
}

.page {
	height:100%;
	min-height:600px;
}

.land-header {
	width:100%;
	height:102px;
	display:table;
	background:#ff7c91;
}

.land-header .land-logo {
	top:50%;
	left:20px;
	width:288px;
	height:50px;
	display:block;
	margin-top:-28px;
	position:absolute;
	color:transparent;
	text-decoration:none;
	background-image:url("../img/logo.svg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top center;
}

.land-header .land-slogan {
	color:#ffffff;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	padding:13px 183px 13px 320px;
}

.land-header .land-slogan h1 {
	font-size:29px;
	font-weight:700;
	line-height:1.2;
	margin-top:-7px;
}

.land-header .land-slogan h1 span {
	font-size:32px;
	font-weight:800;
	line-height:0.9;
}

.land-header .land-slogan p {
	font-size:20px;
	font-weight:600;
	line-height:1.4;
}

.land-header .land-discount {
	top:4px;
	right:20px;
	width:150px;
	height:136px;
	color:#ffffff;
	line-height:132px;
	text-align:center;
	position:absolute;
	background:url("../img/discount.svg") no-repeat top center;
}

.land-header .land-discount .percent {
	font-size:70px;
	font-weight:600;
	position:relative;
	display:inline-block;
	vertical-align:middle;
}

.land-header .land-discount .percent sub {
	font-size:34px;
	line-height:1.2;
	vertical-align:middle;
}

.land-header .land-discount .percent span {
	top:-8px;
	left:3px;
	font-size:14px;
	font-weight:600;
	position:absolute;
}

.land-form-wrapp {
	top:50%;
	left:55%;
	margin-top:-110px;
	position:absolute;
	border-radius:10px;
	border:6px solid rgba(255, 255, 255, 0.5);
}

.land-form-wrapp .land-form-wrapp-inner {
	width:515px;
	height:320px;
	color:#5f5f5f;
	text-align:center;
	border-radius:3px;
	background:url("../img/form-bg.jpg") no-repeat top center;
}

.land-form-wrapp .land-form-top { padding:14px 25px 14px; }

.land-form-wrapp strong {
	display:block;
	font-size:22px;
	line-height:1.3;
	font-weight:700;
}

.land-form-wrapp p {
	font-size:18px;
	line-height:1.3;
	font-weight:700;
}

.land-form-wrapp .field { margin-top:18px; }

.land-form-wrapp .field input[type="text"],
.land-form-wrapp .field input[type="password"] {
	width:423px;
	height:48px;
	border:none;
	outline:none;
	font-size:14px;
	padding:0 15px 0;
	border-radius:3px;
	border:3px solid #ebe7e5;
}

.land-form-wrapp .field.error input[type="text"],
.land-form-wrapp .field.error[type="password"] {
	border-color:#ff6178;
}

.land-form-wrapp .form-submit {
	margin-top:12px;
}

.land-form-wrapp .form-submit input[type="submit"] {
	width:240px;
	height:54px;
	border:none;
	outline:none;
	color:#ffffff;
	font-size:18px;
	cursor:pointer;
	font-weight:600;
	letter-spacing:1px;
	text-shadow:0 2px 0 #c83f54;
	background:url("../img/submit.svg") no-repeat top center;
}

.land-form-wrapp .land-social .land-social-title { position:relative; }

.land-form-wrapp .land-social .land-social-title span {
	z-index:2;
	font-size:15px;
	line-height:1.2;
	padding:0 10px 0;
	position:relative;
	vertical-align:top;
	display:inline-block;
}

.land-form-wrapp .land-social .land-social-title:after,
.land-form-wrapp .land-social .land-social-title:before {
	top:50%;
	height:1px;
	content:"";
	width:106px;
	margin-top:1px;
	position:absolute;
	background:#d1d1d1;
}

.land-form-wrapp .land-social .land-social-title:after { right:0; }
.land-form-wrapp .land-social .land-social-title:before { left:0; }

.land-form-wrapp .land-social ul { margin-top:14px; }

.land-form-wrapp .land-social ul li {
	margin:2px;
	vertical-align:top;
	display:inline-block;
}

.land-form-wrapp .land-social ul li a {
	width:145px;
	height:35px;
	display:block;
	color:transparent;
	border-radius:35px;
	text-decoration:none;
	border:3px solid #f3f3f3;
	background-repeat:no-repeat;
	background-position:top center;
}

.land-form-wrapp .land-social ul li a.land-vk { background-image:url("../img/vk.svg"); }
.land-form-wrapp .land-social ul li a.land-fb { background-image:url("../img/facebook.svg"); }
.land-form-wrapp .land-social ul li a.land-mailru { background-image:url("../img/mailru.svg"); }

.call-modal-link { display:none; }

.modal.final-register { margin:-150px 0 0 -201px; }

.final-register .modal-wrapper {
	width:402px;
	background:none;
}

.final-register .modal-wrapper .land-form-wrapp {
	top:auto;
	right:auto;
	border:none;
	margin-top:-12px;
}

.final-register .modal-wrapper .land-form-wrapp .land-form-wrapp-inner {
	margin:0;
    width:402px;
	height:292px;
    position:relative;
	background:#e7e7e7;
	border-radius:10px;
}

.final-register .modal-wrapper .land-form-wrapp .field input[type="text"],
.final-register .modal-wrapper .land-form-wrapp .field input[type="password"]{
	width:316px;
	text-align:center;
	border-color:#d8d8d8;
}

.final-register .modal-wrapper .land-form-wrapp p {
	margin-top:8px;
	font-size:16px;
	font-weight:400;
}

.final-register .modal-wrapper .land-form-wrapp  .confirm-registration {
	height: 254px;
}
