* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

html, body.lottery {
    height: 100%;
    min-width: inherit;
    background-color: inherit;
}

@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

input[type="submit"], input[type="button"] {
    -webkit-appearance: none;
}

a img {
    border: none;
}

a {
    outline: none;
}

.clear {
    clear: both;
}

.to-left {
    float: left;
}

.to-right {
    float: right;
}

.center {
    text-align: center;
}

.page, .section {
    margin: auto;
    min-width: 320px;
    max-width: 2560px;
    position: relative;
}

.page {
    min-height: 100%;
    background: url("../img/lottery/section2_texture.jpg") repeat top center;
}

.page:after {
    bottom: 0;
    width: 100%;
    content: "";
    height: 12px;
    position: absolute;
    background: #ff8295;
}

.wrapper {
    margin: auto;
    padding: 0;
    max-width: 978px;
    min-width: 320px;
    position: relative;
}

.wrapper.wide {
    max-width: 1200px;
}

.section1 {
    min-height: 560px;
    background-image: url("../img/lottery/top_bg.png"), url("../img/lottery/section1_bg.jpg");
    background-size: 1920px, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: top center, top center;
}

.section1 .logo-wrapp {
    width: 269px;
    height: 107px;
    color: #ffffff;
    text-align: center;
    background: #ff8295;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
}

.section1 .logo-wrapp div {
    padding: 22px 0 15px;
}

.section1 .logo-wrapp img {
    vertical-align: bottom;
}

.section1 .logo-wrapp p {
    font-size: 14px;
    line-height: 1.2;
    font-family: "OpenSansRegular";
}

.section1 .top-right-text {
    color: #ffffff;
    max-width: 445px;
    text-align: right;
    padding-top: 40px;
}

.section1 .top-right-text p {
    font-size: 22px;
    line-height: 1.1;
    font-family: "OpenSansBold";
    text-shadow: -1px 4px 0 rgba(0, 0, 0, 0.05);
}

.section1 .top-right-text p span {
    font-size: 32px;
}

.section1 .top-center-text {
    width: 100%;
    margin: auto;
    margin-top: 51px;
    max-width: 740px;
    text-align: center;
}

.section1 .top-center-text h2 {
    color: #2a664a;
    font-size: 24px;
    line-height: 1.25;
    padding: 0 10px 0;
    font-family: "OpenSansBold";
}

.section1 .top-center-text h2 span {
    display: block;
    font-size: 30px;
    line-height: 1.25;
}

.section1 .gifts {
    width: 100%;
    margin: auto;
    height: 295px;
    overflow: hidden;
    max-width: 1200px;
    margin-top: 10px;
    position: relative;
    background: url("../img/lottery/gifts2.png") no-repeat top center;
}

.section1 .gifts .center-text {
    left: 50%;
    top: 148px;
    width: 285px;
    position: absolute;
    text-align: center;
    margin-left: -140px;
}

.section1 .gifts .center-text p {
    color: #ffffff;
    font-size: 19px;
    line-height: 1.2;
    font-family: "OpenSansRegular";
}

.section1 .gifts .center-text p b,
.section1 .gifts .right-text p span {
    font-family: "OpenSansBold";
}

.section1 .gifts .center-text p span {
    color: #ffff00;
    font-size: 25px;
    font-family: "OpenSansBold";
}

.section1 .gifts .right-text {
    top: 120px;
    right: 50%;
    width: 205px;
    text-align: left;
    position: absolute;
    margin-right: -368px;
}

.section1 .gifts .right-text p {
    color: #cd4568;
    font-size: 15px;
    line-height: 1.25;
    font-family: "OpenSansRegular";
}

.section2 {
    text-align: center;
}

.section2 .wrapper {
    padding-bottom: 20px;
}

.section2 .title {
    top: -33px;
    width: 100%;
    margin: auto;
    max-width: 807px;
    min-height: 70px;
    position: relative;
    background: url("../img/lottery/title2.png") no-repeat top center;
}

.section2 .title h2 {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.2;
    padding-top: 20px;
    font-family: "OpenSansBold";
}

.section2 .form-wrapp {
    width: 100%;
    max-width: 340px;
    position: relative;
    margin: -32px auto 0;
}

.section2 .form-wrapp .inputs {
    text-align: left;
    background: #ffffff;
    border-radius: 15px;
    padding: 20px 0 13px;
    border: 1px dashed #aaaaa9;
}

.section2 .form-wrapp .inputs .field {
    width: 293px;
    position: relative;
    margin: 0 auto 15px;
}

.section2 .form-wrapp .inputs label {
    color: #606060;
    display: block;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 5px;
    font-family: "OpenSansRegular";
}

.section2 .form-wrapp .inputs input[type="text"],
.section2 .form-wrapp .inputs input[type="password"] {
    width: 259px;
    height: 36px;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 0 15px 0;
    border-radius: 5px;
    background: #f3f3f3;
    border: 2px solid #f3f3f3;
    font-family: "OpenSansRegular";
}

.lottery .message {
    position: absolute;
    top: 23px;
    bottom: 0;
    left: 303px;
    padding: 13px;
    display: none;
    font-size: 13px;
    white-space: nowrap;
    background-color: #ff6178;
    color: #fff;
    cursor: default;
    z-index: 2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.lottery .privacy a {
    text-decoration: underline;
    color: initial;
}

.section2 .form-wrapp .inputs input[type="text"].error,
.section2 .form-wrapp .inputs input[type="password"].error {
    border-color: #ff6178;
}

.section2 .form-wrapp .action-date {
    top: 108px;
    left: -91px;
    width: 96px;
    height: 110px;
    position: absolute;
    background: url("../img/lottery/action.png") no-repeat top center;
}

.section2 .form-wrapp .action-date div {
    left: 50%;
    top: 42px;
    width: 92px;
    margin-left: -46px;
    position: absolute;
    -moz-transform: rotate(-16deg);
    -webkit-transform: rotate(-16deg);
    -o-transform: rotate(-16deg);
    -ms-transform: rotate(-16deg);
    transform: rotate(-16deg);
}

.section2 .form-wrapp .action-date div p {
    color: #737373;
    font-size: 12px;
    line-height: 1.2;
    font-family: "OpenSansRegular";
}

.section2 .form-wrapp .form-action {
    margin-top: 25px;
}

.section2 .form-wrapp input[type="submit"] {
    width: 307px;
    height: 51px;
    border: none;
    outline: none;
    color: #f3ffae;
    cursor: pointer;
    font-size: 15px;
    text-align: left;
    padding-left: 16px;
    text-transform: uppercase;
    font-family: "OpenSansBold";
    text-shadow: 1px 1px 0 #499f78;
    background: url("../img/lottery/submit2.png") no-repeat top center;
}

.section2 .form-wrapp input[type="submit"]:hover {
    background-position: 0 -51px;
}

.section2 .bottom-text {
    color: #cd4568;
    margin-top: 20px;
    padding: 0 10px 0;
}

.section2 .bottom-text strong {
    display: block;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 4px;
    font-family: "OpenSansBold";
}

.section2 .bottom-text p {
    font-size: 14px;
    line-height: 1.5;
    font-family: "OpenSansRegular";
}

.privacy {
    color: #878787;
    font-size: 14px;
    line-height: 1.2;
    font-family: "OpenSansRegular";
}

@media screen and (min-width: 1920px) {
    .section1 {
        background-size: contain, cover;
    }
}

@media screen and (max-width: 1000px) {
    .section1 .top-right-text {
        padding-right: 20px;
    }
}

@media screen and (max-width: 780px) {
    .section1 .gifts .right-text {
        display: none;
    }
}

@media screen and (max-width: 730px) {
    .section1 .top-right-text {
        float: none;
        clear: both;
        margin: auto;
        text-align: center;
        padding: 50px 10px 0;
    }
}

@media screen and (max-width: 590px) {
    .section2 .title {
        top: -24px;
        min-height: 0;
        background: #b4bb5e;
    }

    .section2 .title h2 {
        padding: 11px 0 12px;
    }

    .section2 .form-wrapp {
        margin: -9px auto 0;
    }
}

@media screen and (max-width: 540px) {
    .section2 .form-wrapp .action-date {
        top: auto;
        left: auto;
        position: relative;
        margin: 0 auto;
    }

    .section2 .form-wrapp .form-action {
        margin-top: 10px;
    }
}
