.products-error-page .goods-list .goods-item.category-off .image-wrapper {
    height: 300px;
}

.products-error-page .goods-list .image-wrapper,
.products-error-page .goods-list .goods-item.form-in .form-in-wrap,
.products-error-page .goods-list .box,
.products-error-page .goods-list .goods-item.form-in .product-info-wrapper {
    width: 234px;
}

.products-error-page {
    float: right;
    width: 66%;
    margin-top: 4%;
    padding: 0;
}

.products-error-page .goods-item.form-in.category-off {
    padding-left: 10px;
    margin: 0;
    float: right;
    width: 234px;
}

.products-error-page .recommended-block-title, .not-found-events h2 {
    color: black;
    font-weight: 700;
    text-align: left;
    font-size: 24px;
    margin-left: 4%;
}

.products-error-page .goods-list .goods-item.form-in:hover .available-info,
.products-error-page .goods-list .goods-item.form-in.active .available-info {
    display: block;
    font-size: 16px;
    color: #e35a74;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.not-found-events h2 {
    color: black;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.all-events-button {
    position: relative;
    width: 292px;
    height: 251px;
    background: white;
    float: right;
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
}

.all-events-button span {
    position: relative;
    display: inline-block;
    color: rgb(223, 90, 109);
    top: 45%;
    font-size: 18px;
    font-weight: 700;
}

.not-found-events .promo-now a {
    width: 272px;
    height: 251px;
    margin: 0;
}

.not-found-events .promo-now .image-wrapper,
.not-found-events .promo-now .image-wrapper img {
    height: 133px;
    width: auto;
}

.not-found-events .promo-now .text-wrapper {
    padding: 7px;
    height: 58px;
}

.not-found-events section {
    display: inline-block;
    height: 251px;
    width: 272px;
    float: none;
    margin: 0 1px 0 0;
}

.not-found-events .promo-now .price {
    text-align: left;
    display: block;
    width: 100% !important;
}

.not-found-events {
    margin-bottom: 20px;
}

.not-found-events .promo-now .box {
    border: 1px solid rgb(222, 222, 222) !important;
}

.not-found-subscribe h2 {
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

.not-found-subscribe {
    display: block;
    border-top: 1px dashed deeppink;
}

.not-found-subscribe > div > form {
    margin-top: 20px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.not-found-subscribe button, .not-found-subscribe input {
    display: inline-block;
}

.not-found-subscribe input {
    width: 300px;
    height: 30px;
    border: 1px solid rgb(200, 200, 200);
    margin-right: 20px
}

.not-found-subscribe button {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background: rgb(1, 162, 166);
    border-radius: 3px;
    height: 30px;
    width: 199px;
}

.all-events-button > span > a,
.all-events-button > span > a:hover {
    width: auto;
    height: auto;
    font-size: 16px;
    color: rgb(223, 90, 109);
    display: inline;
    border: 0;
    text-decoration: none;
    background: white !important;
}

.goods-list {
    margin-bottom: 10px;
    overflow: hidden;
}

.goods-list .goods-item {
    position: relative;
    width: 33.33%;
    height: auto;
    float: left;
}

.goods-list .goods-item li {
    height: auto;
    max-width: 114px;
}

.goods-list a,
.goods-list .box-wrapper {
    position: relative;
    width: 332px;
    height: auto;
    margin: 0 auto;
    display: block;
    z-index: 1;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.goods-list .goods-item.more-box,
.goods-list .goods-item.more-box a {
    height: 518px;
}

.goods-list .goods-item.more-box .box {
    height: 506px;
    background-color: #ffffff;
}

.goods-list .goods-item.more-box:hover > a .box {
    background-color: #ffffff;
}

.goods-list .goods-item.more-box .more .box span {
    color: #8b8b8b;
}

.goods-list span {
    display: block;
}

.goods-list .box {
    position: relative;
    width: 322px;
    height: auto;
    margin: 4px;
    border: 1px solid #e7e7e7;
}

.goods-list .price {
    margin-top: 10px;
    color: #000;
}

.goods-list .price .old-price {
    font-size: 12px;
    text-decoration: line-through;
    color: #999999;
}

.goods-list .price .new-price {
    font-weight: 500;
    font-size: 20px;
}

.goods-list.old-price-larger .price .old-price {
    font-size: 20px;
    float: left;
}

.goods-list.old-price-larger .price .new-price {
    font-size: 15px;
    float: left;
    line-height: 28px;
}

.goods-list .economy-string {
    right: 15px;
    bottom: 11px;
    display: none;
    position: absolute;
    font-size: 15px;
    line-height: 28px;
    color: #8b8b8b;
}

.goods-list .economy-string span {
    display: inline;
    font-size: 20px;
}

.goods-list .image-wrapper {
    width: 322px;
    height: 523px;
    background-image: url('../img/ajax-loader-transparent2.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

.goods-list .goods-item.category-off .image-wrapper {
    height: 470px;
}

.goods-list .text-wrapper {
    position: absolute;
    height: auto;
    padding: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

.goods-list .time {
    font-size: 14px;
    width: auto;
    height: 24px;
    margin-top: 5px;
    padding-left: 23px;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: right;
    background-position: center left;
    background-repeat: no-repeat;
    background-image: url('../img/small-time-icon.svg');
    color: #797979;
}

.goods-list .time-right {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 15px 15px 0;
    padding-left: 15px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: url('../img/small-time-icon.svg') no-repeat center left;
    background-size: 12px;
    color: #000;
}

.goods-list .wrapper-title {
    max-height: 36px;
    overflow: hidden;
}

.goods-list .category-title,
.goods-list .title {
    display: block;
    line-height: 1;
    color: #000;
}

.goods-list .category-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.goods-list .title {
    margin: 8px 0;
    font-size: 14px;
}

.goods-list .goods-item.category-off .category-title {
    display: none;
}

.goods-list .goods-item.loading:after {
    content: " ";
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-image: url('../img/ajax-loader-transparent2.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

.goods-list .goods-item.loading:hover .more .box {
    padding: 0;
    border: none;
}

.goods-list .goods-item.form-in {
    height: auto;
}

.goods-list .goods-item.form-in .form-in-wrap {
    margin: 0 auto;
    width: 332px;
}

.goods-list .goods-item.form-in .form-in-wrap-content {
    border: 1px solid #e7e7e7;
    margin: 4px;
}

.goods-list .goods-item.form-in:hover .form-in-wrap-content {
    box-shadow: 0 0 8px #ababab;
}

.goods-list .goods-item.form-in a {
    margin: 0;
    width: auto;
    height: auto;
    background-color: #fff;
}

.goods-list .goods-item.form-in a .box {
    padding: 0;
    margin: 0;
    border: none;
    height: auto;
}

.goods-list .goods-item.form-in:hover .box {
    padding: 0;
    margin: 0;
}

.goods-list .goods-item.form-in:hover .economy-string {
    display: block;
}

.goods-list .goods-item.form-in:hover .text-wrapper {
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.goods-list .goods-item.form-in .product-info-wrapper {
    white-space: nowrap;
    text-decoration: none;
    color: #1e1e1e;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 322px;
    height: 58px;
    border-top: 1px solid #e7e7e7;
}

.goods-list .goods-item.form-in:hover .size-bar {
    display: none;
}

.goods-list .goods-item .product-form,
.goods-list .goods-item .available-info {
    line-height: 28px;
    display: none;
    padding: 15px;
    background-color: #fff;
    min-height: 19px;
    box-sizing: border-box;
    height: 58px;
}

.goods-list .goods-item.form-in .available-info {
    display: block;
    font-size: 16px;
    color: #e35a74;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.goods-list .goods-item.form-in:hover .available-info,
.goods-list .goods-item.form-in.active .available-info {
    display: block;
    bottom: 60px;
    transition-delay: 0s;
}

.goods-list .goods-item .product-form select {
    display: inline;
    border: 1px solid #e7e7e7;
}

.goods-list .goods-item.form-in .available-info > span {
    display: inline;
}

.goods-list .goods-item.form-in .available-info .available-info-sizes {
    color: #1e1e1e;
}

.goods-list .goods-item.form-in .product-form {
    display: block;
    padding: 0 15px;
    line-height: 58px;
    text-align: center;
}

.goods-list .goods-item.form-in select {
    width: 116px;
    height: 32px;
    border: none;
    padding-left: 8px;
    background: #fff url('../img/arrowdown.png') no-repeat 95% 50%;
    box-shadow: none;
    outline: 1px solid #e7e7e7;
    float: left;
    margin-top: 14px;
    font-size: 14px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.goods-list .goods-item.form-in select option {
    outline: none !important;
}

.goods-list .goods-item.form-in select ~ button.in-cart {
    float: right;
}

.goods-list .goods-item.form-in button.in-cart {
    width: 146px;
    height: 36px;
    font-size: 14px;
    line-height: 18px;
    margin-top: 12px;
}

.not-found-subscribe input[name="RegistrationForm[email]"] {
    margin-bottom: 25px;
    padding-left: 5px;
    display: inline-block;
}

.not-found-subscribe input[type="submit"] {
    width: 307px;
    height: 34px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    text-decoration: inherit;
    white-space: pre-line;
    word-wrap: break-word;
    vertical-align: middle;
    overflow: hidden;
    line-height: normal;
    background-color: rgb(1, 162, 166);
    border: 1px solid transparent;
    border-radius: 3px;
}

.promo-now .text-wrapper .text {
    text-align: left !important;
}

@media screen and (max-width: 768px) {
    .promo-now .text-wrapper {
        height: 58px !important;
    }

    .not-found.page {
        width: 100% !important;
        margin: 0 0 10px 0;
    }

    .products-error-page {
        float: none;
        width: 100% !important;
        margin-top: 4%;
        padding: 0;
        display: block;
    }

    .products-error-page .recommended-block-title, .not-found-events h2 {
        text-align: center;
    }

    .not-found-events section {
        display: block;
        height: 251px;
        width: 272px;
        float: none;
        margin: 0 auto !important;
    }

    .not-found-subscribe button, .not-found-subscribe input {
        display: block;
        margin: 0 auto !important;
    }

    .not-found-subscribe input {
        width: 80%;
        height: 30px;
        border: 1px solid rgb(200, 200, 200);
        margin-bottom: 10px !important;
    }

    .products-error-page .goods-item.form-in.category-off {
        margin: 0 auto !important;
        padding-left: 0 !important;
        float: none;
        width: 100%;
    }

    .all-events-button {
        width: 274px;
        margin: 0 auto;
        float: none;
    }
}

@media screen and (min-width: 769px) {
    .promo-now .text-wrapper {
        padding-bottom: 30px !important;
    }

    .not-found.page {
        margin-top: 60px;
    }

    .all-events-button {
        position: relative;
        width: 24.5%;
        height: 264px;
        background: white;
        float: right;
        text-align: center;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 4px;
    }

    .not-found-events section {
        width: 24.5%;
    }

    .products-error-page .goods-item.form-in.category-off {
        padding-left: 10px;
        margin: 0;
        float: none;
        display: inline-block;
    }
}
