.new_pop_container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 120;
    left: 0;
    top: 0;
}

.new_pop_container .choose_country_pop {
    position: absolute;
    background: white;
    max-width: 300px;
    text-align: center;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 150;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, .5);
    padding: 33px 10px;
    margin: 0 auto;
}

.new_pop_container .choose_country_pop form {
    padding: 0;
    margin: 0;
    outline: none;
}

.new_pop_container .choose_country_pop .choose_country_pop_logo {
    display: block;
    margin: 0 auto 20px;
    padding: 0;
}

.new_pop_container .choose_country_pop .choose_country_pop_label {
    font-size: 20px;
    color: #333333;
    margin: 0 auto 10px;
    line-height: normal;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.new_pop_container .choose_country_pop .choose_country_pop_country {
    font-size: 36px;
    font-weight: normal;
    margin: 0 auto 10px;
    line-height: normal;
    color: #333333;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}

.new_pop_container .choose_country_pop .choose_country_pop_country.active {
    font-weight: bold;
}

.new_pop_container .choose_country_pop .choose_country_pop_btn {
    color: white;
    border-radius: 2px;
    background-color: #fe7d91;
    border: 1px solid #fe7d91;
    max-width: 150px;
    width: 100%;
    display: block;
    margin: 30px auto 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 5px;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}

.new_pop_container .choose_country_pop .choose_country_pop_btn[disabled] {
    background-color: #b9b9b9;
    border: 1px solid #b9b9b9;
}

.new_pop_container .choose_country_pop .choose_country_pop_btn._btn2 {
    background: transparent;
    border-color: #333333;
    margin-top: 10px;
    color: #333333;
}
