.extselect-container {
    outline: none;
    border: 4px solid #DFDFDF;
    background: white;
    width: 150px;
    vertical-align: top;

    display: inline-block;
    *display: inline;
    *zoom: 1;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.extselect-container.extselect-state-editable {
    cursor: text;
}

.extselect-container.extselect-state-dropdownopened {
    border-color: #C9C9C9;
}

.extselect-container.extselect-state-unattached,
.extselect-container.extselect-state-disabled {

}

.extselect-container.extselect-state-hidden {
    display: none;
}

.extselect-container.extselect-state-error {
    border-color: #9D3E3C !important;
    box-shadow: rgba(0, 0, 0, 0.071) 0px 1px 1px 0px inset, rgba(213, 147, 146, 0.655) 0px 0px 3px 0px !important;
}

.extselect-container, .extselect-container * {
    padding: 0;
    margin: 0;
}

.extselect-container > div:first-child {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 100%;
    margin-right: -17px !important;
    vertical-align: middle;
}

.extselect-container.extselect-state-readonly > div:first-child {
    margin-right: -63px !important;
}

.extselect-container.extselect-state-focus,
.extselect-container.extselect-state-focus .extselect-btn {
    border-color: #C9C9C9;
    outline: 1px dotted #555555;
}

.extselect-container.extselect-state-disabled,
.extselect-container.extselect-state-disabled .extselect-btn,
.extselect-container.extselect-state-disabled * {
    background-color: #F7F7F7 !important;
    box-shadow: none !important;
    cursor: default !important;
}

.extselect-container.extselect-state-disabled .extselect-clrbtn {
    visibility: hidden;
}

.extselect-container.extselect-state-disabled .extselect-btn,
.extselect-container.extselect-state-disabled .extselect-input {
    border: none !important;
    opacity: 0.3;
}

.extselect-container.extselect-state-disabled .extselect-input {
    text-shadow: white 2px 2px 2px;
}

.extselect-container.extselect-state-hidden {
    display: none;
}

.extselect-container .extselect-input {
    /*height: 19px;
    line-height: 19px;*/
    border: none;
    background: white;
    text-indent: 5px;
    outline: none;
    display: block;
    width: 80%;
    text-align: left;

    padding: 9px 0 10px 0;
    font-size: 16px;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;

    color: #FF6178;

    box-shadow: none;

    cursor: default;

    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: all;
    -o-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.extselect-container.extselect-state-disabled .extselect-input {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.extselect-container.extselect-state-placeholder .extselect-input {
    color: #AAAAAA;
}

/*.extselect-container .extselect-btn {
	background: center center no-repeat;
	background-color: white;

	cursor: pointer;
	display: none;
	border: none;
	border-left: 1px solid #DFDFDF;

	
	width: 36px;
	height: 35px;
	
	margin-left: 4px!important;
}*/

.extselect-container.extselect-state-enabled:hover .extselect-btn,
.extselect-container.extselect-state-dropdownopened .extselect-btn {
    background-color: #EFEFEF;
}

.extselect-container .extselect-clrbtn {
    background: transparent center center no-repeat;
    width: 14px;
    height: 23px;
    cursor: pointer;
    margin-right: 0px !important;
    opacity: 0.7;

    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.extselect-container.extselect-state-clrbtn-hidden .extselect-clrbtn {
    visibility: hidden;
}

.extselect-container.extselect-state-enabled .extselect-clrbtn:hover {
    opacity: 1;
}

.extselect-container.extselect-state-readonly .extselect-btn,
.extselect-container .extselect-clrbtn {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.extselect-container .extselect-dropdownwrapper {
    position: relative;
    overflow: visible;
    z-index: 100;

    width: 100%;
    height: 0px;
}

/* ------------- STYLE FOR DROPDOWN ---------------- */

.extdropdown-container {
    position: absolute;

    max-width: 500px;

    border: 4px solid #C9C9C9;
    border-top-width: 1px;
    text-align: left;

    margin: 0 0 0 -4px;

    background: white;
    background: rgba(255, 255, 255, 0.93);

    cursor: default;
}

/* врапер для отделеня элементов от футера (чтоб прикольный скрол зделать) */
.extdropdown-container .extdropdown-wrapfoot {
    position: relative;
}

.extdropdown-container .extdropdown-wraphead {
}

.extdropdown-container .extdropdown-header,
.extdropdown-container .extdropdown-footer {
    color: #555555;
    font-weight: bold;
    background: white;
    text-indent: 5px;
    line-height: 20px;
}

.extdropdown-container .extdropdown-header {
    border-bottom: 1px solid #DDDDDD;
}

.extdropdown-container .extdropdown-footer {
    border-top: 1px solid #DDDDDD;
}

.extdropdown-container .extdropdown-searcher {
    /*top: 12px;  header height + border */
    margin: 2px 0;
    margin-right: 6px;
}

.extdropdown-container .extdropdown-searcher input {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 0;
    width: 82%;
    border: 1px solid #CCC;
    height: 26px;
    line-height: 20px;
    padding: 2px;
    margin: 2px 3px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px inset, rgba(82, 168, 236, 0.28) 0px 0px 3px 0px;
    color: #2d2d2d;
}

.extdropdown-container .extdropdown-items,
.extdropdown-container .extdropdown-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.extdropdown-container .extdropdown-items {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    max-height: 251px;
}

.extdropdown-container .extdropdown-items::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    overflow: visible;
    border-left: 1px solid #DFDFDF;
}

.extdropdown-container .extdropdown-items::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-color: #DEDEDE;

    border: 4px solid transparent;
    border-left-width: 5px;

    border-radius: 9px;
    background-clip: content-box;
}

.extdropdown-container .extdropdown-items::-webkit-scrollbar-thumb:hover {
    background-color: #CACACA;
}

.extdropdown-container .extdropdown-items .extdropdown-item:first-child {
    border-top: none;
}

.extdropdown-container .extdropdown-items .extdropdown-item {
    font-size: 16px;
    color: #A3A3A3;
    display: block;
    line-height: 20px;

    /*text-indent: 7px;*/
    padding: 5px 18px 5px 7px;
    min-height: 20px;

    /*cursor: pointer;*/

    border-top: 1px solid #DFDFDF;

    white-space: normal;
}

/*
.extdropdown-container .extdropdown-items .extdropdown-item:nth-child(even) {
	background-color: rgba(230, 230, 230, 0.25);
}
*/

.extdropdown-container .extdropdown-items .extdropdown-item.extdropdown-state-itemhovered,
.extdropdown-container .extdropdown-items .extdropdown-item.extdropdown-state-itemselected {
    display: block;
    background-color: #F1F1F1;
    color: #414141;
}

.extdropdown-container .extdropdown-items .extdropdown-item.extdropdown-state-itemmultiselected {
    display: none;
}

.extdropdown-container .extdropdown-itemgroup .extdropdown-grouplabel {
    font-weight: bold;
    white-space: nowrap;
    padding: 5px 20px 0 7px;
    text-decoration: underline;
}

.extdropdown-container .extdropdown-group .extdropdown-item {
    padding-left: 20px;
}

/**
 * Это элемент-разделитель
 **/
.extdropdown-container .extdropdown-item.extdropdown-state-isseparator {
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    line-height: 1px;
    background-color: lightgray !important;
    margin: 8px auto;
    text-indent: -9999px;
}

/**
 * Это элемент у пустого селекта
 **/
.extdropdown-container .extdropdown-item.extdropdown-state-isempty {
    color: gray;
}

/**
 * Это элемент в начале селекта
 **/
.extdropdown-container .extdropdown-item.extdropdown-state-isprompt {
    color: gray;
}

.extdropdown-container .extdropdown-item extdropdown-state-match {
    display: inline;
}

/* ------------- STYLE FOR MULTISELECT ---------------- */
.extselect-container.extselect-multiple {
}

.extselect-container.extselect-multiple .extselect-btn,
.extselect-container.extselect-multiple .extselect-clrbtn {
    display: none;
}

.extselect-container.extselect-multiple .extselect-inputwrapper {
    margin: 0;
}

.extselect-container.extselect-multiple .extselect-input,
.extselect-container.extselect-multiple .extselect-items {
    min-height: 19px;
    vertical-align: middle;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    text-indent: 0;

    display: inline;
    background-color: transparent;
}

.extselect-container.extselect-multiple .extselect-input {
    width: auto;
    overflow: visible;
    min-width: 10px;
    text-indent: 5px;

    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.extselect-container.extselect-multiple .extselect-items .extselect-itemmultiple {

    box-sizing: content-box;
    margin: 0 2px;
    outline: none;
    vertical-align: middle;
    margin: 0;
    /*padding: 1px;*/
    border: 1px solid #3F980E;
    border-radius: 3px;
    background: #67AE3F;
    color: white;
    text-indent: 0;

    line-height: 16px;
    cursor: default;

    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.extselect-container.extselect-multiple .extselect-items .extselect-itemmultiple.extselect-state-blue {
    border-color: #057BAC;
    background-color: #1DA1D8;
}

.extselect-container.extselect-state-dropdownopened.extselect-multiple .extselect-items .extselect-itemmultiple:hover {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.extselect-container.extselect-multiple .extselect-items .extselect-itemmultiple .extselect-text {
    padding: 0 13px 0 2px;
    margin: 0 2px;
    border-top: 1px solid white; /* white for old browsers*/
    border-color: rgba(255, 255, 255, 0.45);
    line-height: 15px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.extselect-container.extselect-multiple .extselect-items .extselect-itemmultiple .extselect-rmbtn {
    opacity: 0.7;
    cursor: pointer;
    background: transparent 60% bottom no-repeat !important;
    display: block;
    height: 12px;
    width: 13px;
    position: absolute;
    right: 0;
    top: 0;
    color: black;

    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.extselect-container.extselect-multiple .extselect-items .extselect-itemmultiple .extselect-rmbtn:hover {
    opacity: 1;
}
