.size-guide-body {
    position: relative;
    width: 96% !important;
    background: white;
    padding: 2%;
}

.size-guide-body table {
    table-layout: fixed !important;
}

.size-guide-body tr {
    line-height: 15px;
}

.size-guide-body tr td:first-child {
    width: 44px;
}

.size-guide-body .page-title.promotional {
    margin: 0;
}

.size-close-button {
    background: transparent;
    color: black;
    font-size: 40px;
    float: right;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-weight: 400;
    height: 47px;
}

.size-guide-body .size-content, .size-guide-body .container {
    overflow: hidden;
}

.size-table .title, .size-table th, .size-table td,
.main-container .sizes-wrapper td {
    font-size: 10px !important;
}

.size-guide-body .container {
    width: 100% !important;
}

.size-guide-body .size-content,
.main-container .size-content {
    width: 100% !important;
}

.main-container .sizes-wrapper td {
    padding: 0 !important;
}

@media screen and (max-device-width: 639px) {
    .size-table .title, .size-table th, .size-table td {
        font-size: 9px !important;
        padding: 0 !important;
        margin: 0 !important;
        width: 4px;
    }

    .size-table-title,
    .main-container {
        font-size: 12px;
    }

    .size-guide-body .page-title h1,
    .main-container .page-title h1 {
        font-size: 24px;
    }

    .size-guide-body .size.title, .size-guide-body .shaded.color,
    .main-container .size.title, .size-guide-body .shaded.color {
        padding-right: 0 !important;
        width: 10px;
    }

    .size-guide-body .size-content,
    .main-container .size-content {
        width: 90% !important;
    }

    .size-content {
        width: auto;
        overflow-x: scroll;
        padding-bottom: 10px;
    }

    .sizes-wrapper td {
        padding: 0 !important;
    }
}

@media screen and (min-device-width: 410px ) and (max-device-width: 639px) {
    .size-guide-body .size-content {
        width: 100% !important;
    }

    .size-guide-body .container {
        max-width: 760px !important;
    }

    .size-content table.size-table {
        table-layout: fixed !important;
    }

    .sizes-wrapper td {
        padding: 0 !important;
        margin: 0 !important;
        width: 5px !important;
    }
}

@media screen and (min-device-width: 640px ) and (max-device-width: 960px ) {
    .size-guide-body .size-content {
        width: 94% !important;
    }

    .size-guide-body .container {
        min-width: inherit;
        max-width: 100% !important;
    }

    .sizes-wrapper td {
        padding: 0 !important;
    }
}

.main-container .container {
    min-width: auto !important;
    max-width: none !important;
}

@media screen and (min-device-width: 640px ) and (max-device-width: 720px ) {
    .size-table .title, .size-table th, .size-table td,
    .main-container .sizes-wrapper td {
        font-size: 12px !important;
    }
}

@media screen and (min-device-width: 721px ) and (max-device-width: 960px ) {
    .size-table .title, .size-table th, .size-table td,
    .main-container .sizes-wrapper td {
        font-size: 12px !important;
        padding: 2px;
    }
}
