.modal {
    left: 40% !important;
}

.modal-dialog {
    overflow-y: initial !important;
    overflow-x: hidden !important;
    background: rgb(245, 245, 245);
}

.modal-body {
    width: 1000px;
    height: 500px;
    padding: 20px;
    overflow: auto;
}

.sizes, .container .size-content {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: black !important;
    background: white !important;

}

.size-content {
    padding-bottom: 10px;
}

.table {
    overflow-x: scroll;
}

.sizes h1 {
    margin-top: 30px;
    font-weight: 400;
    font-size: 36px;
}

.sizes a {
    text-decoration: none;
    color: black;
}

.sizes ul {
    display: inline-block;
    vertical-align: top;
    padding: 20px 12px 12px 0;
    width: 44%;
}

.sizes ul li {
    margin-bottom: 34px;
    overflow: hidden;
}

.size-guide-anchors {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0 auto !important;
    overflow: hidden;
}

.size-header {
    font-size: 20px;
    overflow: hidden;
}

.size-instruction {
    font-size: 14px;
}

.size-desc {
    overflow: hidden;
}

.size-icon {
    float: left;
    padding-right: 25px;
    height: 100%;
}

.size-title, .page-title {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin-top: 30px;
    font-weight: 400 !important;
    font-size: 36px;
    color: black !important;
}

.page-title h1, .page-title h2, .size-table-title {
    color: black;
    font-weight: normal !important;
    padding: 0;
    text-align: left;
}

.page-title h1 {
    font-size: 32px;
    margin: 0;
}

.size-table-title {
    font-size: 18px;
    margin: 0;
    width: auto;
}

table tr:first-child {
    border-top: 1px solid #dcdcdc;
}

table tr {
    border-bottom: 1px solid #dcdcdc;
}

table td:first-child {
    padding-right: 20px;
}

.size-table .title, .size-table th, .size-table td {
    font-size: 14px;
}

.size-content table.size-table {
    table-layout: fixed !important;
}

.sizes-wrapper {
    background: white;
    padding: 20px;
    width: auto;
    margin: 10px auto 10px auto !important;
}

.sizes-wrapper td {
    word-break: keep-all;
    padding: 15px;
}

.shaded.title, .size.title {
    font-weight: bold !important;
    color: black !important;
}

.fake-block {
    margin: 0 !important;
    padding: 0 !important;
    height: 0 !important;
    max-height: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.fix-margin-top {
    margin-top: 24px;
}

.footer-title.spec svg,
.size-description.new-size-description svg {
    overflow: visible !important;
}

.size-description.new-size-description {
    margin-top: -35px;
    margin-bottom: 35px;
}

@media screen and (min-device-width: 300px ) and (max-device-width: 410px ) {
    table td:first-child {
        padding-right: 0;
    }

    .size-guide-body .size-content {
        width: 94% !important;
    }

    .size-guide-body .container {
        min-width: inherit;
    }

    .container.sizes .size-content table.size-table {
        table-layout: fixed !important;
    }

    .sizes-wrapper td {
        padding: 2px;
        margin: 0;
        width: 16px;
    }

    .size-table td, .size-table .title {
        font-size: 10px !important;
    }

    table td:first-child {
        width: 50px;
    }

    .sizes-wrapper {
        padding: 0 !important;
        margin: 0 !important;
    }
}

@media screen and (min-device-width: 410px ) and (max-device-width: 639px) {
    .size-guide-body .size-content {
        width: 100% !important;
    }

    .size-guide-body .container {
        max-width: 760px !important;
    }

    .size-content table.size-table {
        table-layout: fixed !important;
    }

    .sizes-wrapper td {
        font-size: 12px;
        padding: 2px;
        margin: 0;
        width: 7px;
    }

    .size.title {
        font-size: 12px;
    }
}

@media screen and (min-device-width: 640px ) {
    .size-guide-body .size-content {
        width: 94% !important;
    }

    .size-guide-body .container {
        min-width: inherit;
        max-width: 100% !important;
    }

    .sizes-wrapper td {
        padding: 2px 2px 2px 20px;
        margin: 0;
        width: 20px;
    }

    .sizes-wrapper td:first-child {
        padding: 2px 2px 2px 20px;
        margin: 0;
        width: 50px;
    }
}

@media screen and (min-device-width: 800px ) {
    .sizes-wrapper td:first-child {
        padding: 2px 2px 2px 20px;
        margin: 0;
        width: 100px;
    }
}

