* {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: "Noto Sans", sans-serif;
}

.limit {
    display: block;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

b {
    font-weight: 700;
}

h2._title {
    font-family: "Baloo Tamma", sans-serif;
    font-size: 40px;
    line-height: 1.2em;
    font-weight: 400;
    color: #f6b0b0;
    margin-bottom: 22px;
}

span.decor {
    text-transform: uppercase;
    color: #df5a6d;

}

p._text {
    font-size: 16px;
    color: #42403d;
    margin-bottom: 10px;
    line-height: 1.5em;
}

.welcome-block {
    overflow-x: hidden;
    padding-bottom: 30px;
}

.welcome-block .limit {
    position: relative;
    min-height: 700px;
}

.welcome-block .limit a {
    display: inline-block;
}

.welcome-block_title {
    position: relative;
    font-family: "Baloo Tamma", sans-serif;
    font-weight: 400;
    font-size: 80px;
    color: #2eb2e9;
    line-height: 1em;
    margin-top: 52px;
    margin-left: 7px;
}

.welcome-block .logo {
    display: inline-block;
    margin-top: 28px;
}

.welcome-block .logo img {
    max-width: 100%;
}

.welcome-block_advantList {
    position: relative;
    margin-top: 39px;
    margin-left: 24px;
}

.welcome-block_advantItem {
    position: relative;
    font-size: 16px;
    color: #4c4c4c;
    margin-bottom: 10px;
}

.welcome-block_advantItem::before {
    content: '';
    position: absolute;
    left: -23px;
    top: 7px;
    background-image: url("../img/check-mark.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 12px;
    height: 10px;
}

.welcome-block_imagesAbs {
    position: absolute;
    right: -377px;
    top: 29px;
}

button._peach {
    position: relative;
    font-family: "Noto Sans", sans-serif;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    border-radius: 30px;
    background-color: #f6b0b0;
    border: 1px solid transparent;
    min-width: 165px;
    height: 41px;
    line-height: 41px;
    cursor: pointer;
    margin-top: 48px;
    margin-right: 7px;
    outline: none;
}

button._peach:focus {
    border: 1px solid #fc908c;
}

button._peach:active {
    border: 1px solid #fc908c;
}

button._peach:visited {
    border: 1px solid transparent;
}

button._peach:hover {
    background-color: #f18282;
}

.what-block {
    text-align: right;
}

.what-block .wrapp_stars {
    position: absolute;
    right: -53px;
    top: 78px;
    background: url(../img/stars.png) no-repeat;
    width: 173px;
    height: 114px;
}

.what-block .limit {
    height: 1px;
    min-height: 658px;
    position: relative;
}

.what-block .limit:after {
    content: '';
    height: 100%;
    width: 0;
    font-size: 0;
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
}

.what-block_right {
    position: relative;
    top: 63px;
    text-align: left;
    display: inline-block;
    width: 50%;
    padding: 0 34px;
}

.what-block_imagesAbs {
    position: absolute;
    left: -200px;
    top: -42px;
}

.hottest-block .limit {
    min-height: 555px;
}

.hottest-block ._title {
    text-align: center;
    font-size: 36px;
    line-height: 1.1em;
}

.hottest-block_offerList {
    font-size: 0;
    margin-top: 40px;
    text-align: justify;
}

.hottest-block_offerList::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.hottest-block_offerItem {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    width: 30.777%;
    border-radius: 30px;
    min-height: 357px;
    transition: transform 0.4s, -webkit-transform 0.4s, -ms-transform 0.4s, box-shadow 0.4s;
    cursor: pointer;
}

.hottest-block_offerItem:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}

.block_offerItem_imgWrapper {
    height: 357px;
    overflow: hidden;
    margin-bottom: 7px;
}

.hottest-block_offerItem_img {
    min-height: 283px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 5px;
}

.hottest-block_offerItem_info {
    text-align: left;
    padding: 0 25px;
}

.hottest-block_offerItem_name {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #42403d;
    position: relative;
    top: -7px;
}

.hottest-block_offerItem_price {
    display: inline-block;
    font-family: "Baloo Tamma", sans-serif;
    font-size: 24px;
    line-height: 1em;
    color: #f6b0b0;
    margin-top: 18px;
    margin-left: 20px;
}

.hottest-block_offerItem_oldPrice {
    display: inline-block;
    font-family: "Baloo Tamma", sans-serif;
    font-size: 14px;
    color: #d7d7d7;
    text-decoration: line-through;
    position: relative;
    top: -14px;
}

.steps-block .limit {
    min-height: 750px;
    position: relative;
}

.steps-block .helpText {
    font-family: "Baloo Tamma", sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    color: #f6b0b0;
    position: absolute;
    left: -47px;
    top: 120px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: inline-block;
    max-width: 170px;
}

.steps-block .helpText:before {
    content: '';
    background-image: url("../img/arrow2.png");
    background-size: cover;
    width: 58px;
    height: 60px;
    position: absolute;
    left: 76%;
    top: -68px;
}

.steps-block h3.title {
    font-family: "Baloo Tamma", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2em;
    color: #fc908c;
    position: absolute;
    left: 47.3%;
    top: 55.6%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: inline-block;
    max-width: 230px;
    text-align: right;
}

.steps-block h3.title::before {
    content: '';
    position: absolute;
    background-image: url("../img/stepsBlockBack.png");
    width: 250px;
    height: 181px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 80%;
    top: 36%;
}

.steps-block_stepList {
    counter-reset: list;
}

.steps-block_stepItem {
    position: absolute;
    min-width: 260px;
    left: 0;
    top: 0;
    font-size: 0;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
}

.steps-block_stepItem ._title {
    font-family: "Baloo Tamma", sans-serif;
    font-size: 18px;
    color: #565452;
    margin-top: 19px;
    line-height: 1.2em;
    max-width: 260px;
}

.steps-block_stepItem ._text {
    display: none;
    text-align: left;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    padding: 20px 20px;
    line-height: 1.5em;
    position: absolute;
    background-color: #fff;
    border-radius: 30px;
    min-width: 350px;
    -webkit-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.steps-block_stepItem._1 {
    left: 51%;
    top: 19%;
}

.steps-block_stepItem._1 ._text {
    left: 150%;
    top: 0;
}

.steps-block_stepItem._2 {
    left: 89.8%;
    top: 33%;
}

.steps-block_stepItem._2 ._text {
    top: 155%;
    left: 25%;
}

.steps-block_stepItem._3 {
    left: 78.5%;
    top: 83%;
}

.steps-block_stepItem._3 ._text {
    top: 32%;
    left: -45%;
}

.steps-block_stepItem._4 {
    left: 18.5%;
    top: 80.2%;
}

.steps-block_stepItem._4 ._text {
    top: 10%;
    left: 147%;
}

.steps-block_stepItem._5 {
    left: 9.5%;
    top: 44.5%;
}

.steps-block_stepItem._5 ._text {
    top: -50%;
    left: 95%;
}

.steps-block_stepItem .wrap_number {
    display: inline-block;
    text-align: center;
    line-height: 117px;
    width: 117px;
    height: 117px;
    background-color: rgba(246, 176, 176, 0.2);
    border-radius: 50%;
    animation: pulse 2s linear infinite;
    -webkit-animation: pulse 2s linear infinite;
}

.steps-block_stepItem .wrap_number._1 {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.steps-block_stepItem .wrap_number._2 {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.steps-block_stepItem .wrap_number._3 {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.steps-block_stepItem .wrap_number._4 {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.steps-block_stepItem .wrap_number._5 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.steps-block_stepItem .number {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-family: "Baloo Tamma", sans-serif;
    line-height: 78px;
    text-align: center;
    width: 78px;
    height: 78px;
    background-color: rgba(246, 176, 176, 0.2);
    border-radius: 50%;
}

.steps-block_stepItem .number:after {
    position: absolute;
    content: counter(list);
    counter-increment: list;
    color: #fc908c;
    font-size: 48px;
    line-height: 1em;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.weAre-block {
    overflow-x: hidden;
}

.weAre-block_left {
    display: inline-block;
    width: 66.666%;
    margin-top: 127px;
}

.weAre-block .limit {
    padding-top: 25px;
    position: relative;
    min-height: 620px;
}

.weAre-block_imgAbs {
    position: absolute;
    right: -183px;
    top: 34px;
}

.weAre-block_text {
    font-family: "Baloo Tamma", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.1em;
    position: relative;
    color: #2eb2e9;
}

.weAre-block_list {
    position: relative;
    font-size: 0;
    margin-top: 65px;
}

.weAre-block .fcWrapp {
    display: inline-block;
    width: 34px;
    text-align: center;
    position: relative;
}

.weAre-block .fcWrapp::after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: -16px;
    top: -6px;
    border-radius: 50%;
    background-color: rgba(46, 178, 233, 0.15);
}

.weAre-block_item {
    padding-left: 17px;
    display: inline-block;
    width: 50%;
    margin-bottom: 15px;
}

.weAre-block_item::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
}

.weAre-block_item p {
    font-family: "Noto Sans", sans-serif;
    width: calc(100% - 34px);
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 1.3em;
    font-weight: 700;
    color: #42403d;
    padding-left: 15px;
}

.weAre-block_itemImg {
    display: inline-block;
    vertical-align: middle;
}

.form-block {
    overflow-x: hidden;
}

.form-block .limit {
    position: relative;
    min-height: 620px;
    height: 1px;
    font-size: 0;
    padding-top: 190px;
    text-align: justify;
}

.form-block .limit::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.form-block form {
    display: inline-block;
    vertical-align: middle;
    padding: 44px 48px;
    min-height: 237px;
    border-radius: 30px;
    max-width: 362px;
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.1);
}

.form-block ._backForm {
    position: absolute;
    left: -163px;
    top: 126px;
}

.form-block .title {
    font-family: "Baloo Tamma", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    line-height: 1.2em;
    color: #f6b0b0;
    margin-bottom: 24px;
}

.form-block label {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-block input {
    outline: none;
    display: inline-block;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    color: #f6b0b0;
    border: 1px solid #dcdcdc;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 20px;
    padding: 0 11px;
}

.form-block input:focus {
    border: 1px solid #f6b0b0;
    -webkit-box-shadow: 0px 0px 5px 0px #f6b0b0;
    -moz-box-shadow: 0px 0px 5px 0px #f6b0b0;
    box-shadow: 0px 0px 5px 0px #f6b0b0;
}

.form-block input:-webkit-autofill {
    background-color: #f6b0b0 !important;
}

.form-block ._peach {
    width: 100%;
    margin: 0;
    letter-spacing: 2px;
    font-weight: 700;
}

.form-block ._stars {
    position: absolute;
    right: -175px;
    top: 260px;
}

.form-block .right {
    width: 46%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -30px;
}

.form-block .right .title {
    font-family: "Baloo Tamma", sans-serif;
    font-size: 36px;
    color: #f6b0b0;
    text-align: left;
    margin-bottom: 0;
}

.form-block .right .text {
    color: #f6b0b0;
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 5px;
}

.mob_text {
    display: none;
}

.mob_top_text {
    display: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 1066px) {
    .what-block .wrapp_stars {
        right: 0;
    }
}

@media (max-width: 1024px) {
    .steps-block .helpText {
        position: absolute;
        left: 181px;
        top: -33px;
    }

    .steps-block .helpText:before {
        position: absolute;
        left: -78px;
        top: -10px;
        -webkit-transform: rotate(-64deg) scale(-1, 1);
        -moz-transform: rotate(-64deg) scale(-1, 1);
        -ms-transform: rotate(-64deg) scale(-1, 1);
        -o-transform: rotate(-64deg) scale(-1, 1);
        transform: rotate(-64deg) scale(-1, 1);
    }

    .limit {
        max-width: 926px;
    }

    .welcome-block_title {
        font-size: 65px;
    }

    .welcome-block .logo {
        margin-top: 54px;
        margin-left: 5px;
    }

    .welcome-block_title {
        line-height: 1.15em;
        margin-left: 7px;
    }

    .welcome-block_advantList {
        margin-top: 46px;
        margin-left: 27px;
    }

    .welcome-block_imagesAbs {
        right: 0;
        top: 214px;
        max-width: 542px;
    }

    .what-block_stars {
        right: -40px;
        top: 81px;
    }

    .what-block_imagesAbs {
        max-width: 576px;
        left: 3px;
        top: 60px;
    }

    .what-block_right {
        top: 95px;
        left: 0px;
    }

    .what-block .limit {
        min-height: 648px;
    }

    .steps-block h3.title {
        width: 100%;
        text-align: center;
        position: relative;
        left: 0;
        top: 0;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        font-size: 36px;
        max-width: 530px;
        margin: 50px auto 108px;
        display: block;
        line-height: 1em;
    }

    .steps-block h3.title::before {
        content: none;
    }

    .steps-block_stepItem .wrap_number {
        animation: none !important;
    }

    .steps-block_stepItem {
        position: relative;
        left: 0 !important;
        top: 0 !important;
        transform: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -o-transform: none !important;
        -ms-transform: none !important;
        text-align: left;
        height: 48px;
        line-height: 48px;
        margin-bottom: 30px;
    }

    .steps-block_stepItem._open {
        height: auto;
    }

    .steps-block_stepItem._open ._title::after {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        top: 0;
        right: -30px;
    }

    .steps-block_stepItem ._text {
        display: none;
        position: relative;
        background: none;
        left: 0 !important;
        top: 0 !important;
        transform: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -o-transform: none !important;
        -ms-transform: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        margin-bottom: 0;
        padding-left: 70px;
        padding-top: 3px;
        padding-bottom: 10px;
        font-size: 14px;
        max-width: 700px;
        line-height: 1.5em;
    }

    .steps-block_stepItem .wrap_number {
        position: absolute;
        left: 10px;
        width: 48px;
        height: 48px;
        line-height: 48px;
    }

    .steps-block_stepItem .number {
        width: 34px;
        height: 34px;
        line-height: 34px;
    }

    .steps-block_stepItem .number:after {
        font-size: 18px;
    }

    .steps-block_stepItem ._title {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        margin-top: 0;
        max-width: none;
        padding-left: 70px;
    }

    .steps-block_stepItem ._title::after {
        content: '';
        background-image: url("../img/spoilerArrow.png");
        width: 19px;
        height: 13px;
        position: absolute;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        right: -40px;
        top: 50%;
    }

    .steps-block .limit {
        min-height: 0;
    }

    .weAre-block_left {
        display: inline-block;
        width: 66.666%;
        margin-top: 160px;
        margin-left: 8px;
    }

    .weAre-block_imgAbs {
        max-width: 400px;
        right: -25px;
        top: 137px;
    }

    .form-block .limit {
        padding-top: 160px;
    }

    .form-block .right {
        top: -20px;
    }

    .form-block ._stars {
        right: -35px;
        top: 108px;
    }

    .form-block form {
        margin-left: 6%;
    }

    .form-block ._backForm {
        left: -50px;
        top: 106px;
    }
}

@media (max-width: 800px) {
    .limit {
        max-width: 520px;
        padding: 0 4px;
    }

    .welcome-block .limit a {
        display: block;
        margin: 14px auto 0;
        max-width: 90px;
    }

    .welcome-block_title {
        font-size: 28px;
        margin: 22px auto 0;
        text-align: center;
    }

    .mob_text {
        display: block;
        font-size: 14px;
        line-height: 1.2em;
        color: #2eb2e9;
        margin: 11px auto 0;
        text-align: center;
        max-width: 210px;
    }

    .welcome-block_advantList {
        margin-top: 20px;
        margin-left: 42px;
        margin-bottom: 26px;
    }

    .welcome-block_advantItem {
        font-size: 14px;
    }

    .welcome-block_imagesAbs {
        display: none;
    }

    .welcome-block_advantItem::before {
        top: 5px;
    }

    button._peach {
        display: block;
        margin: 0 auto 10px;
        width: 100%;
        height: 36px;
        line-height: 36px;
        max-width: 248px;
    }

    .welcome-block .limit {
        min-height: 0;
    }

    .what-block .wrapp_stars,
    .what-block_imagesAbs {
        display: none;
    }

    .what-block .limit {
        min-height: 0;
        height: auto;
    }

    .what-block_right {
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 6px;
        text-align: center;
        margin-top: 29px;
    }

    h2._title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    p._text {
        font-size: 14px;
        line-height: 1.75em;
        margin-bottom: 13px;
    }

    .hottest-block ._title {
        font-size: 28px;
        line-height: 1.15em;
    }

    .hottest-block .limit {
        min-height: 0;
        margin-top: 21px;
    }

    .hottest-block_offerItem {
        width: 100%;
    }

    .hottest-block_offerItem:hover {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -o-transform: scale(1.01);
        -ms-transform: scale(1.01);
    }

    .hottest-block_offerList {
        margin-top: 0;
    }

    .steps-block h3.title {
        font-size: 28px;
        line-height: 1.15em;
        margin-bottom: 61px;
    }

    .steps-block_stepItem {
        margin-bottom: 17px;
    }

    .steps-block_stepItem ._text {
        min-width: 1px;
        left: auto;
        top: auto;
    }

    .steps-block_stepItem .wrap_number {
        left: 0;
    }

    .weAre-block_item {
        padding-left: 37px;
    }

    .weAre-block_item::after {
        content: none;
    }

    .weAre-block_left {
        width: 100%;
        margin-top: 9px;
        margin-left: 0;
        line-height: 1.15em;
    }

    .weAre-block_text {
        text-align: center;
        font-size: 30px;
    }

    .weAre-block_imgAbs {
        right: 0;
        left: 50%;
        top: 39%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        max-width: 270px;
    }

    .form-block {
        overflow: visible;
    }

    .form-block ._backForm {
        display: none;
    }

    .form-block form {
        min-height: 0;
        margin: 0 auto;
        padding: 35px 30px;
    }

    .weAre-block_item {
        width: 100%;
        height: 40px;
    }

    .weAre-block_list {
        margin-top: 327px;
    }

    .weAre-block_item p {
        padding-left: 13px;
    }

    .form-block ._stars {
        display: none;
    }

    .form-block .right {
        display: none;
    }

    .form-block .limit {
        padding-top: 53px;
        padding-bottom: 50px;
        min-height: 0;
        height: auto;
        text-align: center;
    }

    .mob_top_text {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .mob_top_text h2.title {
        font-size: 28px;
        line-height: 1.15em;
        text-align: center;
        padding: 0 10px;
    }

    .mob_top_text .text {
        color: #f6b0b0;
        font-size: 16px;
        line-height: 1.2em;
        font-weight: 700;
    }

    .form-block .title {
        text-align: center;
    }

    .btns-wrap {
        width: 100%;
        text-align: center;
    }

    button._peach {
        width: 200px;
        display: inline-block;
    }

    .br-desktop {
        display: none;
    }
}

@media all and (max-width: 480px) {
    .limit {
        max-width: 320px;
        padding: 0 4px;
    }

    .weAre-block_imgAbs {
        right: 0;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        max-width: 270px;
    }

    .weAre-block_list {
        margin-top: 340px;
    }

    .steps-block_stepItem ._title::after {
        display: none;
    }

    .welcome-block_title,
    h2._title,
    .steps-block h3.title,
    .steps-block_stepItem ._title,
    .weAre-block_text,
    .form-block .title {
        font-weight: bold;
    }
}
