/*
Author: Sergii.Rudchyk
*/
@font-face {
  font-family: "PF Din Text Cond Pro Medium";
  src: url("../fonts/pfdintextcondpro-medium/pfdintextcondpro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcondpro-medium/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/pfdintextcondpro-medium/pfdintextcondpro-medium.ttf") format("truetype"), url("../fonts/pfdintextcondpro-medium/pfdintextcondpro-medium.svg#pf_din_text_cond_promedium") format("svg");
}

/* ---------->>> XHTML, HTML4, HTML5 Reset <<<-----------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: baseline;
}

html,
body,
.container-wrap {
  height: 100%;
}

/* Correct `block` display not defined in IE 8/9. */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
1. Correct `inline-block` display not defined in IE 8/9.
2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio,
canvas,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/*
Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  height: 0;
}

/*
Prevent modern browsers from displaying `audio` without controls.
Address `[hidden]` styling not present in IE 8/9.
Hide the `template` element in IE, Safari, and Firefox < 22.
*/
audio:not([controls]),
[hidden],
template {
  display: none;
}

/*
Addresses `font-family` inconsistency between `textarea` and other form elements.
*/
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* 1. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html {
  font-size: 100.01%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
}

body {
  color: #181818;
  background: white;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
}

pre,
code,
kbd,
samp,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 100%;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q,
blockquote {
  quotes: none;
}
q:before, q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

sub,
sup {
  font-size: smaller;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

b,
strong {
  font-weight: bold;
}

em,
i,
dfn {
  font-style: italic;
}

u {
  text-decoration: underline;
}

small {
  font-size: 80%;
}

mark {
  background: #ff0;
  color: #000;
}

/*
Remove the gray background color from active links in IE 10.
*/
a {
  background: transparent;
}
a img {
  border: none;
}

img {
  border: 0;
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ul,
ol {
  list-style: none;
}
ul li,
ol li {
  margin-left: 0;
}

/*  Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 100%;
}

h5 {
  font-size: 90%;
}

h6 {
  font-size: 80%;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/*Correct overflow displayed oddly in IE 9.*/
svg:not(:root) {
  overflow: hidden;
}

/*
1. Correct color not being inherited.
   Known issue: affects color of disabled elements.
2. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
*/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
2. Improve usability and consistency of cursor style between image-type `input` and others.
*/
a[href],
input[type="submit"],
html input[type="button"],
input[type="image"],
input[type="reset"],
label[for],
select,
button,
.button {
  cursor: pointer;
  /* 2 */
}

/*Address `overflow` set to `hidden` in IE 8/9/10*/
button {
  overflow: visible;
}

/*
Address inconsistent `text-transform` inheritance for `button` and `select`.
All other form control elements do not inherit `text-transform` values.
Correct `button` style inheritance in Firefox, IE 8+, and Opera
Correct `select` style inheritance in Firefox.
*/
button,
select {
  text-transform: none;
}

a:active, a:hover {
  outline: none;
}

input, input:hover, input:focus,
textarea,
textarea:hover,
textarea:focus,
select,
select:hover,
select:focus,
button,
button:hover,
button:focus {
  outline: none;
}

/*
Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet.
It's recommended that you don't attempt to style these elements.
Firefox's implementation doesn't respect box-sizing, padding, or width.

1. Address box sizing set to `content-box` in IE 8/9/10.
2. Remove excess padding in IE 8/9/10.
3. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
4. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof).

Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`.
Remove inner padding and search cancel button in Safari and Chrome on OS X.
Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance).
*/
input {
  line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
input[type="checkbox"] {
  vertical-align: bottom;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 3 */
  -webkit-box-sizing: content-box;
  /* 4 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
Re-set default cursor for disabled elements.
*/
button[disabled],
input[disabled],
textarea,
select {
  cursor: default;
}

/*
Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

acronym,
abbr,
span.caps {
  cursor: help;
}

acronym,
abbr {
  border-bottom: 1px dashed #999;
}

textarea {
  overflow: auto;
  resize: none;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
Don't inherit the `font-weight` (applied by a rule above).
NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup {
  font-weight: bold;
}

/* ---------->>> MY CLASSES  <<<-----------*/
.wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.tablebox,
.wrapper {
  width: 100%;
}

/* ---------->>> OTHER CLASSES  <<<-----------*/
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.dib,
.icon,
.button,
.wrapper {
  display: inline-block;
}

.dib {
  vertical-align: top;
}

.icon,
.button {
  vertical-align: middle;
}

.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

/* ---------->>> ALIGNMENT BLOCKS IN WIDTH  <<<-----------*/
.jbox {
  line-height: 0;
  text-align: justify;
}
.jbox:after {
  content: "\0020";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
  width: 100%;
}
.jbox .dib {
  line-height: normal;
  text-align: left;
}

input[type="submit"],
html input[type="button"],
input[type="reset"],
button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

.no_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.break {
  word-wrap: break-word;
}

/* ---------->>> STANDARD STYLE <<<-----------*/
a,
.link {
  color: white;
  text-decoration: underline;
}
a:hover,
.link:hover {
  text-decoration: none;
}

/* ---------->>> GLOBAL <<<-----------*/
html {
  min-width: 750px;
}

body {
  background-color: #d6d7b7!important;
  color: white!important;
  font: 16px/1 "PF Din Text Cond Pro Medium", sans-serif;
}

.container {
  margin: auto;
  width: 750px;
}

.container-wrap {
  position: relative;
}

.loading {
  background: white url(../images/required/loading.gif) no-repeat center;
}

/* ---------->>> FORMS <<<-----------*/
/*field style*/


/*end field style*/
/*buttons style*/
.land-btn {
  border: none;
}

a.land-btn,
span.land-btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  overflow: hidden;
  text-indent: 100%;
}
a.land-btn, a.land-btn:hover,
span.land-btn,
span.land-btn:hover {
  text-decoration: none;
}

/*end buttons style*/
.icons-sprite, .sale-icon, .refresh-icon, .delivery-icon, .pay-icon, .ok-icon, .land-btn, .land-btn:hover {
  background: url('../images/icons-s4613cb2a2e.png') no-repeat;
}

/* ---------->>> ICONS <<<-----------*/
.sale-icon {
  background-position: 0 -383px;
  height: 117px;
  width: 117px;
}

.refresh-icon {
  background-position: 0 -510px;
  height: 117px;
  width: 117px;
}

.delivery-icon {
  background-position: 0 -637px;
  height: 117px;
  width: 117px;
}

.pay-icon {
  background-position: 0 -256px;
  height: 117px;
  width: 117px;
}

.ok-icon {
  background-position: 0 -764px;
  height: 117px;
  width: 117px;
}

.land-btn {
  background-position: 0 -128px;
  height: 118px;
  width: 420px;
}
.land-btn:hover {
  background-position: 0 0;
}

/* ---------->>> HEADER <<<-----------*/
.land-header,
.land-header-bg {
  height: 625px;
}

.land-header {
  background: url(../images/bg/bg.jpg) repeat-x;
}

.land-header-bg {
  background: url(../images/bg/bg-img.jpg) no-repeat top right;
}

.land-header-logo {
  float: left;
  margin: 20px 0 48px 10px;
}

.h-btn {
  margin-left: 54px;
}

.h-box {
  margin-top: 100px;
}

.h-title {
  margin: 0 0 22px 33px;
  font-size: 48px;
  color: #fd7b8e;
}

.h-list {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}

.h-item {
  padding-left: 30px;
  margin-bottom: 20px;
  position: relative;
}
.h-item:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background-color: #FFF;
}

/* ---------->>> CONTENT <<<-----------*/
.land-content {
  padding-bottom: 127px;
}

.main-section {
  height: 315px;
  background-color: #FFF;
  position: relative;
  z-index: 2;
}

.land-title {
  padding: 22px 0 30px;
  text-align: center;
  font-size: 28px;
  color: #5f7475;
  text-transform: uppercase;
}

.boxlist-item {
  width: 117px;
}

.boxlist-text {
  font-size: 13px;
  color: #5f7475;
  text-align: center;
  padding-top: 9px;
  text-transform: uppercase;
  width: 180px;
  margin-left: -30px;
}

.main-btn {
  position: absolute;
  bottom: -67px;
  left: 50%;
  margin-left: -210px;
}

.land-goods-section {
  position: relative;
  background-color: #5f7475;
  z-index: 1;
}
.land-goods-section .container {
  padding-top: 100px;
}
.land-goods-section .land-title {
  padding-top: 0;
  color: #fff;
}

.land-goods-window {
  width: 100%;
  overflow: hidden;
  padding-bottom: 70px;
}

.land-goods-list {
  width: 130%;
}

.land-goods-item {
  width: 206px;
  margin: 0 54px 53px 0;
  float: left;
}

.land-goods-item-pic {
  width: 100%;
  height: 207px;
  overflow: hidden;
}
.land-goods-item-pic,
.land-goods-item-pic .land-goods-item-img {
  border-radius: 5px;
}

.land-goods-item-img {
  max-width: 100%;
}

.land-goods-item-title {
  padding: 10px 0 6px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.land-goods-item-info {
  line-height: 23px;
}

.land-goods-item-old-price {
  font-size: 18px;
  color: #fff;
  text-decoration: line-through;
  margin-left: 7px;
}

.land-goods-item-new-price {
  font-size: 23px;
  color: #fd7b8e;
  margin-right: 24px;
}

/* ---------->>> FOOTER <<<-----------*/
/* ---------->>> IE8 <<<-----------*/
.ie8 .field {
  line-height: 30px;
}

/* ---------->>> Opera <<<-----------*/


/* ---------->>> Images <<<-----------*/

.pseudo-image {
	display: inline-block;
}

.pseudo-image.logo-image {
	width: 477px;
	height: 115px;
	background: url('../images/logo.png');
}

.pseudo-image.small-logo-image {
	width: 161px;
	height: 33px;
	background: url('../images/small-logo.png');
}
