.process-active {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.process-active:before {
    content: '';
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(116, 116, 116, 0.2);
}

.new-item {
    border: none;
    /*background-color: #f5f5f5;*/
}

.new-item:first-child {
    border-top: 1px solid #dddddd;
}

.new-item:nth-child(odd) {
    background-color: #f9f9f9;
}

.new-item-shortinfo {
    border-radius: 0;
    margin: 0;
}

.new-item-buttons {
    padding: 10px 0;
    text-align: right;
}

.new-item-expand {
    border-bottom: dashed 1px #0088cc;
    text-decoration: none !important;
}

.new-item-order .span4:first-of-type {
    margin-left: 0;
}

a:not([href]) {
    cursor: pointer;
}

.popover-content {
    padding: 0;
}

.popover-content th {
    border-left: 0;
}

.number {
    width: auto;
    text-align: center;
    vertical-align: baseline !important;
}

input.number {
    background: white;
    width: 30px;
}

.cart-form-container form {
    margin: 0;
    min-width: 100px;
    text-align: center;
}

.new-item-container .alert {
    margin-bottom: 0;
}

div.message {
    /*position: absolute;*/
}

td.sum-column {
    text-align: center;
}

.select2-results .select2-highlighted {
    border: 2px solid rgba(82, 168, 236, .6);
    box-shadow: inset 0 0 8px rgba(82, 168, 236, .6);
    background: #fff;
    color: #000000;
}

.callcenter-icon-cycle {
    -moz-transform: rotate(720deg); /* Для Firefox */
    -ms-transform: rotate(720deg); /* Для IE */
    -webkit-transform: rotate(720deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(720deg); /* Для Opera */
    transform: rotate(720deg);

    -webkit-transition: 7s linear;
    -moz-transition: 7s linear;
    -o-transition: 7s linear;
    transition: 7s linear;
}

.callcenter-update-button {
    cursor: pointer;
}

.callcenter-warnings {
    position: fixed;
    top: 55px;
    right: 15px;
    z-index: 10;
    max-width: 500px;
    max-height: 700px;
    overflow: auto;
}

.callcenter-warnings .callcenter-warning {
    margin-bottom: 5px;
}

.bonus-present {
    color: #D83232;
}
