.custom-filter {
    padding: 6px;
    vertical-align: top;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.custom-filter .filter-type {
    width: 80px;
}

.filters-other-header {
    float: right;
}

#content .popover {
    max-width: 500px;
}

#content .popover-content {
    max-width: 500px;
    max-height: 500px;
    overflow: auto;
}

#content .max-popover .popover-content {
    min-width: 350px;
    max-height: 300px;
}

.statistic-info {
    cursor: pointer;
    color: #4C7AC0;
    text-decoration: underline;
    font-weight: bold;
}
