body {
    background: #444 !important;
}

.tac {
    text-align: center;
}

.signin {
    margin: 50px auto 0;
}

#logo {
    text-align: center;
    margin-bottom: 10px;
}

.signin {
    /*background: url("../img/pattern/p23.png") repeat;*/
    padding: 13px;
    border-radius: 4px;
}

.signin .tab-content {
    min-width: 250px;
}
