.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
ul#menu > li > a:hover,
ul#menu > li:hover > a,
ul#menu > li.active > a {
    background-color: #ff0000;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

ul#menu > li > a:hover,
ul#menu > li:hover > a,
ul#menu > li.active > a {
    -webkit-box-shadow: 0 1px 0 0 #ff0000 inset;
    -moz-box-shadow: 0 1px 0 0 #ff0000 inset;
    box-shadow: 0 1px 0 0 #ff0000 inset;
    -webkit-transition: height 0.4s ease-out 0s;
    -moz-transition: height 0.4s ease-out 0s;
    -o-transition: height 0.4s ease-out 0s;
    transition: height 0.4s ease-out 0s;
}

#top > .navbar {
    border-top: 3px solid #ff0000;
}

#content .table .btn {
    border-radius: 0;
    padding: 0 6px;
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    border-radius: 0 !important;
}

.pagination li a {
    border-radius: 0 !important;
}

.box > .body {
    overflow-y: auto;
}

.table-compact {
}

.table-compact th,
.table-compact td {
    padding: 4px !important;
}

table tr td.success {
    background-color: #dff0d8;
}

table tr td:hover.success {
    background-color: #d0e9c6;
}

table tr td.warning {
    background-color: #fcf8e3;
}

table tr td:hover.warning {
    background-color: #faf2cc;
}

table tr td.error {
    background-color: #f2dede;
}

table tr td:hover.error {
    background-color: #ebcccc;
}

.mgauto {
    margin: 0 auto;
}

.select2-results .select2-highlighted {
    background: #D2D8E0 !important;
}
