* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #080808;
    overflow-x: hidden;
}

input,
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.limit {
    max-width: 960px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.btn:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.block1 {
    background: url("../img/block1_bg.png") no-repeat center;
    background-size: cover;
    min-height: 633px;
    position: relative;
}

.block1 .btn {
    display: block;
    max-width: 320px;
    width: 100%;
    font-size: 30px;
    letter-spacing: -1px;
    color: white;
    text-align: center;
    padding: 24px 5px;
    border-radius: 3px;
    background: #ea649e;
    background: -moz-linear-gradient(-45deg, #ea649e 0%, #df436e 100%);
    background: -webkit-linear-gradient(-45deg, #ea649e 0%, #df436e 100%);
    background: linear-gradient(135deg, #ea649e 0%, #df436e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea649e', endColorstr='#df436e', GradientType=1);
    position: absolute;
    right: 80px;
    bottom: -126px;
    border: none;
    cursor: pointer;
}

.block1 .cont_img {
    position: absolute;
    right: -18px;
    top: 129px;
    max-width: 509px
}

.block1 .border {
    position: absolute;
    right: -31px;
    top: 125px;
    max-width: 565px;
}

.block1 .item {
    position: absolute;
    left: 151px;
    bottom: -151px;
}

.block1 .item1 {
    position: absolute;
    bottom: -64px;
    right: -204px;
}

.block1 .left {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;
}

.block1 .logo {
    position: absolute;
    right: 177px;
    top: 33px;
}

.block1 .left .ball {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1396f+0,e55285+100 */
    background: rgb(209, 57, 111); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(209, 57, 111, 1) 0%, rgba(229, 82, 133, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(209, 57, 111, 1) 0%, rgba(229, 82, 133, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(209, 57, 111, 1) 0%, rgba(229, 82, 133, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1396f', endColorstr='#e55285', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    border-radius: 50%;
    text-align: center;
    width: 481px;
    height: 481px;
    position: relative;
    right: 70px;
    top: 11px;
    padding: 120px 20px;
}

.block1 .left .ball:before {
    content: '';
    height: 49px;
    width: 49px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1396f+0,e55285+100 */
    background: rgb(209, 57, 111); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(209, 57, 111, 1) 0%, rgba(229, 82, 133, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(209, 57, 111, 1) 0%, rgba(229, 82, 133, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(209, 57, 111, 1) 0%, rgba(229, 82, 133, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1396f', endColorstr='#e55285', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    border-radius: 50%;
    position: absolute;
    right: 14px;
    bottom: 33px;

}

.block1 .left h1 {
    font-size: 35px;
    margin-bottom: 15px;
    line-height: 44px;
    color: white;
}

.block1 .left h1 span {
    font-size: 40px;
    display: block;
}

.block1 .left h2 {
    font-size: 17px;
    line-height: 26px;
    padding: 5px;
    border-radius: 5px;
    color: white;

}

.btn {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.block2 {
    background: url("../img/block2_bg.png") no-repeat center;
    background-size: cover;
    min-height: 1847px;
    margin-top: -75px;
    padding-top: 135px;
}

.block2 .arrow {
    max-width: 100%;
    display: block;
    margin: 10px auto;
}

.block2 .slider {
    text-align: center;
    font-size: 0;
    -moz-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
    position: relative;
    border-radius: 10px;
    border: 7px solid #c6527d;
}

.block2 .slider li.sale {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    background: url(../img/sale_label.png) no-repeat;
    width: 144px !important;
    height: 144px !important;
    padding: 31px 5px;
    font-size: 11px;
    line-height: 35px;
    text-align: center;
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    transform: skewX(20deg);
}

.block2 .slider li.sale .sale_item {
    display: none;
}

.block2 .slider li.sale span {
    font-size: 50px;
}

.block2 .slider li {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    height: 465px;
    width: 33%;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.block2 .slider li h3 {
    position: absolute;
    top: 10px;
    left: 50%;
    -moz-transform: translateX(-50%) skewX(20deg);
    -webkit-transform: translateX(-50%) skewX(20deg);
    -o-transform: translateX(-50%) skewX(20deg);
    -ms-transform: translateX(-50%) skewX(20deg);
    transform: translateX(-50%) skewX(20deg);
    color: #c6527d;
    display: inline-block;
    padding: 5px 5px;
    font-size: 34px;
    z-index: 2;
    text-shadow: 2px 2px 0 #FFFFFF;
}

.block2 .slider li img {
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    transform: skewX(20deg);
    position: relative;
    right: 150px;
}

.block2 .slider li img.mob_sl {
    display: none;
}

.block2 .slider li:nth-child(2) h3 {
    color: #af0041;
}

.block2 .slider li:nth-child(2) img {
    right: 215px;
}

.block2 .slider li:nth-child(3) {
    color: #6c0028;
}

.block2 .slider li:nth-child(3) img {
    right: 215px;
}

.block2 .slider li .text_bg {
    display: none;
    background: rgba(198, 82, 125, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
}

.block2 .slider li .text_bg .text {
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    transform: skewX(20deg);
    padding: 17px 35px;
}

.block2 .slider li .text_bg .text p {
    font-size: 15px;
    color: white;
    margin-bottom: 15px;
}

.block2 .slider li .text_bg .text p.label {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
}

.block2 .slider.active1 li.sale {
    display: block;
    left: 445px;
    top: 110px;
}

.block2 .slider.active1 li.sale ._item1 {
    display: block;
}

.block2 .slider.active1 li {
    width: 20%;
}

.block2 .slider.active1 li:nth-child(1) {
    width: 59%;
}

.block2 .slider.active1 li:nth-child(1) img {
    right: 125px;
}

.block2 .slider.active1 li:nth-child(1) .text_bg {
    display: block;
}

.block2 .slider.active1 li:nth-child(1) h3 {
    background: #c7537e;
    color: white;
    text-shadow: none;
    border-radius: 50px;
    -webkit-box-shadow: 0 2px 0 2px #FFFFFF;
    box-shadow: 0 2px 0 2px #FFFFFF;
}

.block2 .slider.active1 li:nth-child(1) h3:before {
    background: url("../img/slider_item1.png");
    content: '';
    position: absolute;
    left: -50px;
    top: 50%;
    width: 40px;
    height: 63px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.block2 .slider.active1 li:nth-child(1) h3:after {
    background: url("../img/slider_item2.png");
    content: '';
    position: absolute;
    right: -50px;
    top: 50%;
    width: 40px;
    height: 63px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.block2 .slider.active2 li.sale {
    display: block;
    left: 680px;
    top: 135px;
}

.block2 .slider.active2 li.sale ._item2 {
    display: block;
}

.block2 .slider.active2 li {
    width: 20%;
}

.block2 .slider.active2 li:nth-child(2) {
    width: 59%;
}

.block2 .slider.active2 li:nth-child(2) img {
    right: 25px;
}

.block2 .slider.active2 li:nth-child(2) .text_bg {
    display: block;
}

.block2 .slider.active2 li:nth-child(2) h3 {
    background: #af0041;
    color: white;
    text-shadow: none;
    border-radius: 50px;
    -webkit-box-shadow: 0 2px 0 2px #FFFFFF;
    box-shadow: 0 2px 0 2px #FFFFFF;
}

.block2 .slider.active2 li:nth-child(2) h3:before {
    background: url("../img/slider_item1.png");
    content: '';
    position: absolute;
    left: -50px;
    top: 50%;
    width: 40px;
    height: 63px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.block2 .slider.active2 li:nth-child(2) h3:after {
    background: url("../img/slider_item2.png");
    content: '';
    position: absolute;
    right: -50px;
    top: 50%;
    width: 40px;
    height: 63px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.block2 .slider.active3 li.sale {
    display: block;
    top: 145px;
    left: auto;
    right: -40px;
}

.block2 .slider.active3 li.sale ._item3 {
    display: block;
}

.block2 .slider.active3 li {
    width: 20%;
}

.block2 .slider.active3 li:nth-child(3) {
    width: 59%;
}

.block2 .slider.active3 li:nth-child(3) img {
    right: 85px;
}

.block2 .slider.active3 li:nth-child(3) .text_bg {
    display: block;
}

.block2 .slider.active3 li:nth-child(3) h3 {
    background: #6c0028;
    color: white;
    text-shadow: none;
    border-radius: 50px;
    -webkit-box-shadow: 0 2px 0 2px #FFFFFF;
    box-shadow: 0 2px 0 2px #FFFFFF;
}

.block2 .slider.active3 li:nth-child(3) h3:before {
    background: url("../img/slider_item3.png");
    content: '';
    position: absolute;
    left: -50px;
    top: 50%;
    width: 40px;
    height: 63px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.block2 .slider.active3 li:nth-child(3) h3:after {
    background: url("../img/slider_item4.png");
    content: '';
    position: absolute;
    right: -50px;
    top: 50%;
    width: 40px;
    height: 63px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.block2 h2 {
    text-align: center;
    margin: 13px auto 20px;
    text-transform: uppercase;
    font-weight: normal;
    color: #00626a;
    font-size: 30px;
}

.block2 h1 {
    font-size: 30px;
    line-height: 58px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 35px;
}

.block2 h1 span {
    display: block;
    text-transform: uppercase;
}

.block2 .list {
    text-align: center;
    font-size: 0;
}

.block2 .list li {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.block2 .list li img {
    max-width: 225px;
    width: 100%;
    margin-bottom: 10px;
}

.block2 .list li p {
    max-width: 180px;
    margin: 0 auto;
    font-size: 16px;
}

.block2 ._limit {
    max-width: 1062px;
}

.block2 .section {
    background: url("../img/block2_list_bg.png") no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 489px;
    margin-top: 50px;
    padding: 0 50px 115px;
}

.block2 .section h1 {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 43px;
}

.block2 .section .plus {
    text-align: center;
}

.block2 .section .plus img {

    display: inline-block;
    position: relative;
    bottom: 21px;
}

.block2 .section .list2 {
    text-align: center;
    font-size: 0;
}

.block2 .section .list2 li {
    display: inline-block;
    width: 25%;
    font-size: 15px;
    vertical-align: top;
}

.block2 .section .list2 li:nth-child(2n) p {
    padding: 14px 9px;
}

.block2 .section .list2 li img {
    margin-bottom: 10px;
    max-width: 100%;
}

.block2 .section .list2 li p {
    max-width: 205px;
    margin: 0 auto;
    min-height: 91px;
    background: white;
    padding: 23px 9px;
    border-radius: 3px;
}

.block3 {
    margin-top: -53px;
    padding-bottom: 217px;
    position: relative;
}

.block3 .right {
    padding-left: 305px;
    position: relative;
    padding-bottom: 83px;
}

.block3 .right h1 {
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 9px;
}

.block3 .right h2 {
    font-size: 19px;
    margin-bottom: 24px;
}

.block3 .right .list {
    padding-left: 15px;
    font-size: 15px;
    color: #55abb2;
    margin-bottom: 40px;
}

.block3 .right .list li {
    margin-bottom: 10px;
    position: relative;
}

.block3 .right .list li:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #55abb2;
    position: absolute;
    left: -12px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.block3 .right .quote {
    position: relative;
    font-size: 24px;
    line-height: 35px;
    z-index: 1;
}

.block3 .right .quote:before {
    content: '';
    background: url("../img/block3_quote.png");
    width: 36px;
    height: 35px;
    position: absolute;
    left: -40px;
    top: -25px;
}

.block3 .right .quote:after {
    content: '';
    background: url("../img/block3_quote.png");
    width: 36px;
    height: 35px;
    position: absolute;
    right: -40px;
    bottom: -15px;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.block3 .right .item1 {
    position: absolute;
    left: -99px;
    top: 221px;
}

.block3 .right .item2 {
    position: absolute;
    left: 117px;
    top: 29px;
}

.block3 .right .item3 {
    position: absolute;
    right: 0;
    top: 197px;
}

.block3 .right .girl {
    position: absolute;
    left: -46px;
    bottom: 0;
}

.block3 .right .line {
    position: absolute;
    left: -74px;
    bottom: -1px;
    z-index: 1;
}

.block3:before {
    content: '';
    background: url("../img/hands.png") no-repeat;
    width: 1166px;
    height: 291px;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -77px;
}

.block4 {
    background: url("../img/block4_bg.png") no-repeat center;
    background-size: cover;
    min-height: 535px;
    padding-top: 78px;
    position: relative;
    z-index: 1;
    padding-bottom: 1px;
}

.block4 .item {
    position: absolute;
    top: -174px;
    left: -214px;
}

.block4 h1 {
    text-align: center;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: -1px;
    font-weight: normal;
    margin-bottom: 20px;
}

.block4 h2 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}

.block4 .form_cont {
    margin: 30px auto;
    font-size: 0;
    padding: 0 22px;
    position: relative;
}

.block4 .form_cont:before {
    content: '';
    border-radius: 10px;
    border: 6px solid #ef6192;
    width: 95%;
    height: 122px;
    -moz-transform: skewX(-7deg) rotate(-1deg) translateX(-50%);
    -webkit-transform: skewX(-7deg) rotate(-1deg) translateX(-50%);
    -o-transform: skewX(-7deg) rotate(-1deg) translateX(-50%);
    -ms-transform: skewX(-7deg) rotate(-1deg) translateX(-50%);
    transform: skewX(-7deg) rotate(-1deg) translateX(-50%);
    position: absolute;
    top: -25px;
    left: 50%;
}

.block4 .form_cont .left,
.block4 .form_cont .middle,
.block4 .form_cont .right {
    display: inline-block;
    vertical-align: middle;
    width: 33%;
}

.block4 .form_cont .left {
    padding-right: 8px;
}

.block4 .form_cont .middle {
    padding-left: 8px;
    padding-right: 8px;
    width: 34%;
}

.block4 .form_cont .right {
    padding-left: 8px;
}

.block4 .form_cont input {
    display: block;
    width: 100%;
    border: 2px solid transparent;
    background: white;
    border-radius: 3px;
    padding: 15px 20px;
    font-size: 16px !important;
    position: relative;
    z-index: 1;
}

.block4 .form_cont .btn {
    display: block;
    max-width: 320px;
    width: 100%;
    font-size: 30px;
    letter-spacing: -1px;
    color: white;
    text-align: center;
    padding: 24px 5px;
    border-radius: 3px;
    background: #ea649e;
    background: -moz-linear-gradient(-45deg, #ea649e 0%, #df436e 100%);
    background: -webkit-linear-gradient(-45deg, #ea649e 0%, #df436e 100%);
    background: linear-gradient(135deg, #ea649e 0%, #df436e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea649e', endColorstr='#df436e', GradientType=1);
    border: none;
    cursor: pointer;
    margin: 25px auto 10px;
    position: relative;
    z-index: 1;
}

.block4 .form_cont {
    text-align: center;
}

@media screen and (max-width: 1025px) {
    .block2 .slider {
        max-width: 800px;
        margin: 0 auto;
    }

    .block1 .border {
        max-width: 442px;
        right: 6px;

    }

    .block1 .cont_img {
        max-width: 400px;
        right: 15px;
    }

    .block1 .left .ball {
        right: 0;
    }

    .block2 .slider.active3 li.sale {
        top: 100px;
        left: auto;
        right: -40px;
    }

    .block2 .slider.active2 li.sale {
        left: 569px;
        top: 109px;
    }

    .block2 .slider.active1 li.sale {
        left: 408px;
        top: 91px;
    }

}

@media screen and (max-width: 900px) {
    .limit {
        max-width: 480px;
        padding: 0 10px;
    }

    .block3, .block2, .block1, .block4 {
        overflow-x: hidden;
    }

    .block1 {
        background: url("../img/block1_mob_bg.jpg") no-repeat center;
        background-size: cover;
        min-height: 485px;
        padding-top: 5px;
        padding-bottom: 15px;
    }

    .block1 .left .logo {
        margin: 0 auto 5px;
        max-width: 100%;
    }

    .block1 .mob_hide {
        display: none;
    }

    .block1 .left {
        max-width: 100%;
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .block1 .logo {
        position: static;
        margin: 0 auto;
        display: block;
    }

    .block1 .border {
        right: 21px;
        max-width: 294px;
        top: 0;
    }

    .block1 .cont_img {
        max-width: 272px;
        position: static;

    }

    .block1 .left .ball {
        width: 400px;
        height: 400px;
        top: 0;
        margin: 0 auto;
        padding: 100px 20px;
    }

    .block1 .left .ball:before {
        right: -5px;
    }

    .block1 .left h1 {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 10px;
        letter-spacing: -1px;
        color: white;
    }

    .block1 .left h1 span {
        display: inline;
        font-size: 32px;
    }

    .block1 .mob_cont {
        position: relative;
        max-width: 320px;
        width: 100%;
        margin: 5px auto 15px;
        text-align: center;
    }

    .block1 .left h2 {
        border-radius: 3px;
        margin-bottom: 15px;
    }

    .block1 .btn {
        position: static;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        padding: 15px 5px;
        font-size: 28px;
    }

    .block2 {
        background: url("../img/block2_mob_bg.jpg") no-repeat center;
        background-size: cover;
        margin: 0 auto;
        padding: 15px 0;
    }

    .block2 h1 {
        text-align: center;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 15px;
    }

    .block2 h1 span {
        display: inline;
    }

    .block2 .list li {
        width: 50%;
        margin-bottom: 10px;
    }

    .block2 .list li img {
        max-width: 125px;
    }

    .block2 .list li p {
        font-size: 15px;
    }

    .block2 .slider li {
        display: block;
        width: 100% !important;
        height: auto;
        overflow: visible;
        clear: both;
    }

    .block2 .slider {
        -moz-transform: skewX(0deg);
        -webkit-transform: skewX(0deg);
        -o-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        transform: skewX(0deg);
    }

    .block2 .slider li h3 {
        -moz-transform: translateX(0) skewX(0deg);
        -webkit-transform: translateX(0) skewX(0deg);
        -o-transform: translateX(0) skewX(0deg);
        -ms-transform: translateX(0) skewX(0deg);
        transform: translateX(0) skewX(0deg);
        left: 10px;
        font-size: 18px;
    }

    .block2 .slider li .text_bg .text {
        -moz-transform: skewX(0deg);
        -webkit-transform: skewX(0deg);
        -o-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        transform: skewX(0deg);
        padding: 20px 10px 35px;
        text-align: left;
    }

    .block2 .slider li img {
        -moz-transform: skewX(0deg);
        -webkit-transform: skewX(0deg);
        -o-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        transform: skewX(0deg);
        display: none;
    }

    .block2 .slider li .text_bg {
        position: static;
        background: #c6527d;
    }

    .block2 .slider li img.mob_sl {
        display: block;
        width: 100%;
        right: 0 !important;
    }

    .block2 .slider.active1 li:nth-child(1) h3 {
        left: 35px;
    }

    .block2 .slider.active2 li:nth-child(2) h3 {
        left: 35px;
    }

    .block2 .slider.active3 li:nth-child(3) h3 {
        left: 35px;
    }

    .block2 .slider li.sale {
        display: none !important;
    }

    .block2 .slider li .text_bg .text .sale {
        display: block;
        float: right;
        width: 106px;
        height: 106px;
        background: url("../img/sale_label.png") no-repeat;
        background-size: contain;
        text-align: center;
        padding: 25px 10px;
        color: white;
        font-size: 11px;
        position: relative;
        left: 35px;
        margin-left: -25px;
        z-index: 1;

    }

    .block2 .slider li .text_bg .text .sale span {
        display: block;
        font-size: 26px;
        font-weight: bold;
    }

    .block2 ._limit {
        max-width: 480px;
    }

    .block2 .section {
        background: rgba(255, 255, 255, 0.5);
        padding: 10px;

    }

    .block2 .section h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .block2 .section .list2 li {
        width: 50%;
        margin-bottom: 15px;
    }

    .block2 .section .list2 li img {
        max-width: 80px;
        margin-bottom: 5px;
    }

    .block3 {
        margin: 0 auto;
        padding-bottom: 160px;
    }

    .block3 .right {
        padding: 15px 0;
    }

    .block3 .right h1 {
        text-align: center;
        font-size: 30px;
        margin: 0;
    }

    .block3 .right h2 {
        text-align: center;
        font-size: 20px;
    }

    .block3 .right .girl {
        display: none;
    }

    .block3 .right .list {
        padding-left: 130px;
        position: relative;
    }

    .block3 .right .list:before {
        content: url("../img/block3_contm.png");
        position: absolute;
        left: -30px;
        bottom: -25px;
        z-index: 2;
    }

    .block3 .right .list:after {
        content: '';
        position: absolute;
        right: 0;
        width: 105%;
        height: 4px;
        border-radius: 5px;
        background: #74abda;
        bottom: -25px;
        z-index: 3;

    }

    .block3 .right .item2 {
        position: absolute;
        left: -60px;
        top: 100px;
    }

    .block3 .right .item1 {
        position: absolute;
        top: 48px;
        left: auto;
        right: 10px;
    }

    .block3 .right .quote {
        margin: 15px auto 0;
        font-size: 16px;
        line-height: 22px;
    }

    .block3 .right .quote:before {

        background: url(../img/block3_quote.png) no-repeat;
        width: 20px;
        background-size: contain;
        left: -25px;
        top: 0;
    }

    .block3 .right .quote:after {

        background: url(../img/block3_quote.png) no-repeat;
        width: 20px;
        background-size: contain;
        right: -25px;
        bottom: 0;
    }

    .block3 .right .line {
        max-width: 480px;
        left: -10px;
        bottom: -20px;
    }

    .block3:before {
        background: url(../img/hands.png) no-repeat;
        width: 470px;
        background-size: contain;
        height: 125px;
        bottom: 0;
    }

    .block3 .right .item3 {
        top: 275px;
    }

    .block4 {
        background: url("../img/block4_mob_bg.jpg") no-repeat center;
        background-size: cover;
        min-height: 416px;
        padding: 15px 0;
        margin: -30px auto 0;

    }

    .block4 h1 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 5px;
    }

    .block4 h2 {
        font-size: 20px;
    }

    .block4 .form_cont .left,
    .block4 .form_cont .middle,
    .block4 .form_cont .right {
        display: block;
        width: 100%;
        padding: 0;
    }

    .block4 .form_cont input {
        margin-bottom: 15px;
        padding: 8px 13px;
    }

    .block4 .form_cont .btn {
        position: static;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        padding: 15px 5px;
        font-size: 28px;
        margin-top: 30px;

    }

    .block4 .form_cont:before {
        height: 182px;
        width: 88%;
        top: -18px;
    }

    .block2 .slider.active1 li:nth-child(1) h3:before {

        background-repeat: no-repeat;
        width: 23px;
        height: 36px;
        background-size: contain;
        left: -25px;

    }

    .block2 .slider.active1 li:nth-child(1) h3:after {
        background-repeat: no-repeat;
        width: 23px;
        height: 36px;
        background-size: contain;
        right: -25px;
    }

    .block2 .slider.active2 li:nth-child(2) h3:before {

        background-repeat: no-repeat;
        width: 23px;
        height: 36px;
        background-size: contain;
        left: -25px;

    }

    .block2 .slider.active2 li:nth-child(2) h3:after {
        background-repeat: no-repeat;
        width: 23px;
        height: 36px;
        background-size: contain;
        right: -25px;
    }

    .block2 .slider.active3 li:nth-child(3) h3:before {

        background-repeat: no-repeat;
        width: 23px;
        height: 36px;
        background-size: contain;
        left: -25px;

    }

    .block2 .slider.active3 li:nth-child(3) h3:after {
        background-repeat: no-repeat;
        width: 23px;
        height: 36px;
        background-size: contain;
        right: -25px;
    }
}

@media screen and (max-width: 480px) {
    .limit {
        max-width: 320px;
    }

    .block1 .left .ball {
        width: 300px;
        height: 300px;
        top: 0;
        margin: 0 auto;
        padding: 55px 20px;
    }

    .block1 .left .ball:before {
        right: -5px;
        bottom: 0;
    }

    .block1 .left h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .block1 .left h1 span {
        font-size: 24px;
    }

    .block1 .left h2 {
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0;
    }

    .block1 .border {
        right: 11px;
        top: 2px;
    }

    .block1 .mob_cont {
        margin-bottom: 5px;
    }

    .block2 h1 {
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0;
    }

    .block2 h2 {
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0;
    }

    .block2 .slider li .text_bg .text {
        padding-bottom: 20px;
    }

    .block2 .slider li .text_bg .text .sale {
        margin-bottom: 0;
    . block4 h2
    }

    .block2 .section h1 {
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0;
    }

    .block3 .right h1 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
    }

    .block3 .right .quote {
        padding: 0 15px;
    }

    .block3 .right .quote:before {
        left: -7px;
    }

    .block3 .right .quote:after {
        right: -7px;
    }

    .block3:before {
        width: 400px;
    }

    .block4 {
        margin-top: -50px;
    }

    .block4 h1 {
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0;
    }

    .block4 h2 {
        font-size: 15px;
        line-height: 22px;
    }

    .block2 .section .list2 li p {
        font-size: 11px;
        padding: 31px 5px !important;
    }

    .block2 .section .list2 li {
        padding-right: 5px;
    }

    .block2 .section .list2 li:nth-child(2n) {
        padding-right: 0;
        padding-left: 5px;
    }

    .block4 .form_cont input {
        font-size: 12px;
    }
}
