body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: url(../img/bg.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.wrapper {
    position: relative;
}

.header {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 90px;
    display: block;
    font-size: 0;
}

.header__logo {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 23.5%;
    vertical-align: top;
    min-height: 90px;
    margin-right: 1.5%;
    padding-right: 45px;
    padding-left: 30px;
    background: #ffffff;
    text-align: right;
    border-radius: 0 45px 45px 0;
    line-height: 90px;
}

.header__logo img {
    display: inline-block;
    vertical-align: middle;
    max-width: 340px;
}

.header__text {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 90px;
    width: 75%;
    font-size: 26px;
    text-align: center;
    color: #e92e9c;
    background: #ffffff;
    border-radius: 45px 0 0 45px;
    padding: 10px 45px;
}

.header__text b {
    display: block;
    font-weight: 900;
}

.header__text span {
    font-weight: 300;
    font-size: 20px;
}

.limit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 1650px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 60px;
    text-align: right;
    position: relative;
}

.block {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 450px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    right: 60px;
}

.block__title {
    margin: 0 0 20px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px rgba(0, 0, 0, .5);
}

.block__title b {
    display: block;
    font-size: 24px;
    font-weight: 900;
}

.form {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    width: 100%;
    font-size: 0;
    padding: 30px;
    background: #ffffff;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 0 15px rgba(233, 46, 156, .2);
    box-shadow: 0 0 0 15px rgba(233, 46, 156, .2);
    position: relative;
}

.form__ico {
    display: inline-block;
    vertical-align: middle;
    width: 12%;
    max-width: 30px;
    margin-right: 10px;
}

.form__inp {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width: 84%;
    height: 55px;
    margin: 0 auto;
    padding: 0 15px;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, .38);
    box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, .38);
    outline: none;
}

.form__btn {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 60px;
    margin: 30px auto 0;
    padding: 0 15px;
    font: 400 18px "Roboto", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    background: #e92e9c;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 0 0 rgba(233, 46, 156, .5);
    box-shadow: 0 4px 0 0 rgba(233, 46, 156, .5);
    cursor: pointer;
    outline: none;
    -webkit-transition: -webkit-transform .1s, -webkit-box-shadow .1s;
    transition: -webkit-transform .1s, -webkit-box-shadow .1s;
    transition: transform .1s, box-shadow .1s;
    transition: transform .1s, box-shadow .1s, -webkit-transform .1s, -webkit-box-shadow .1s;
}

.form__btn:hover {
    opacity: .9;
}

.form__btn:active {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-box-shadow: 0 0 0 0 rgba(233, 46, 156, .5);
    box-shadow: 0 0 0 0 rgba(233, 46, 156, .5);
}

.form__error {
    box-sizing: border-box;
    position: absolute;
    top: 7px;
    left: 0;
    display: none;
    width: 100%;
    margin: 0;
    padding: 0 15px;
    font-size: 14px;
    text-align: center;
    color: #f00;
}

.form._exists ._exists {
    display: block;
}

.form._error ._error {
    display: block;
}

.name {
    margin-bottom: 20px;
}

@media screen and (max-width: 1550px) {
    .header__text {
        font-size: 18px;
    }

    .header__logo img {
        max-width: 225px;
    }
}

@media screen and (max-width: 1150px) {
    .header__logo img {
        max-width: 190px;
    }
}

input[type=text], input[type=submit], input[type=email], textarea {
    -webkit-appearance: none;
}

footer {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(233, 46, 156, .2);
    margin-top: -60px;
    text-shadow: 2px 2px rgba(0, 0, 0, .5);
    font-size: 24px;
    font-weight: 900;
    line-height: 60px;
    position: relative;
    z-index: 2;
}

footer a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    body {
        background: url(../img/bg-m.jpg) no-repeat 50% 50%;
        background-size: cover;
        overflow-x: hidden;
    }

    .wrapper {
        display: inline-block;
    }

    .header {
        text-align: center;
        position: static;
        padding-top: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: auto;
    }

    .header__logo {
        height: auto;
        line-height: normal;
        min-height: 0;
        width: auto;
        margin: 0 0 10px;
        padding: 10px 15px;
        border-radius: 45px;
    }

    .header__logo img {
        max-width: 150px;
    }

    .header__text {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 0 10px;
        font-size: 20px;
        color: #ffffff;
        background: none;
        border-radius: 0;
    }

    .header__text b {
        text-transform: uppercase;
    }

    .block {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        margin-bottom: 46px;
    }

    footer {
        position: relative;
    }

    .limit {
        height: auto;
        display: block;
        margin-top: 30px;
        margin-bottom: 60px;
        padding: 0 15px 15px;
    }

    .form {
        padding: 20px 20px 30px;
        padding-top: 35px;
    }

    .modal {
        font-size: 14px;
    }

    footer {
        text-align: center;
        /* padding-left: 15px; */
        /* padding-right: 15px; */
        background: rgba(233, 46, 156, .2);
        margin-top: -60px;
        text-shadow: 2px 2px rgba(0, 0, 0, .5);
        font-size: 24px;
        font-weight: 900;
        line-height: 60px;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 2;
    }

    .block {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        margin-bottom: 46px;
        margin: 40px auto 0;
        max-width: 435px;
        display: block;
    }

    .form {
        padding: 20px 20px 30px;
        margin-top: 160px;
        padding-top: 35px;
    }

    body {
        height: 100vh;
    }
}

.success {
    box-sizing: border-box;
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    font-size: 15px;
    display: none;
    color: #15C615;
}

@media only screen and (max-width: 740px) {
    body {
        height: auto;
    }

    footer {
        position: relative;
        width: auto;
    }

    .form {
        margin-top: 0;
        margin-bottom: 85px;
        padding-top: 35px;
    }
}

.form__inp.telephone {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form__ico.user {
    margin-top: -18px;
}
