html, body {
    width: 100%;
    height: 100%;
    min-width: 1250px;
}

body {
    font-family: arial;
    font-size: 12px;
    margin: 0;
    background-image: url('../img/promo-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    -o-background-size: 100% 100%;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}

@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url(../fonts/DBCt-NXN57MTAFjitYxdrBz0dNVQi7XqpmlL2zM1TQo.woff) format('woff');
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: 0;
}

.container {
    width: 1250px;
    margin: 0 auto;
    overflow: hidden;
}

.top {
    height: 207px;
    background-image: url('../img/top-bg.jpg');
}

.top-shadow {
    height: 11px;
    background-image: url('../img/top-shadow.png');
}

.top-img, a.top-img {
    height: 207px;
    display: block;
    background-image: url('../img/top-img.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.invite {
    padding-top: 10px;
    padding-right: 120px;
    padding-bottom: 40px;
    float: right;
}

.bg {
    width: 421px;
    height: 293px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #fff;
}

.text {
    font-weight: bold;
    font-family: 'Ubuntu Condensed';
    color: #ff6178;
}

.text1 {
    font-size: 24px;
    padding-top: 120px;
    text-transform: uppercase;
}

.text2 {
    font-size: 34px;
    padding-top: 100px;
    text-transform: uppercase;
}

.big {
    font-size: 56px;
}

.form-title {
    font-size: 34px;
    padding: 10px 0;
}

.text-center {
    text-align: center;
}

.form {
    width: 348px;
    margin: 0 auto;
}

input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
}

.field {
    width: 348px;
    height: 55px;
    margin-bottom: 6px;
}

input[type="text"], input[type="password"] {
    font-family: arial;
    font-size: 16px;
    width: 318px;
    height: 25px;
    padding: 10px;
    border: 5px solid #dedede;
    line-height: 25px;
    background-color: #fff;
    color: #b4b4b4;
}

input[type="text"]:focus {
    border-color: #c9c9c9;
    color: #313030;
}

input[type="submit"] {
    font-family: 'PT Sans', arial;
    font-size: 18px;
    font-weight: bold;
    width: 348px;
    height: 55px;
    line-height: 55px;
    background-color: #ff6178;
    color: #fff;
    cursor: pointer;
}

.pc {
    font-family: 'PT Sans', arial;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
    border-bottom: 1px dotted #ff6178;
    line-height: 18px;
    float: left;
    color: #ff6178;
    cursor: pointer;
}

.pc:hover {
    padding-bottom: 1px;
    border-bottom: 0;
}


.pc-title {
    font-size: 16px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    width: auto;
    margin: -340px 0 0 -300px;
}

.modal-body ul {
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 5px;
    list-style: square;
}

.modal-body ul li {
    padding-top: 5px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.modal-header {
    line-height: 59px;
    text-align: center;
    border-bottom: 1px solid #fff;
    font-family: SolomonSansBoldItalic, arial;
    font-size: 30px;
    margin: 0;
    text-shadow: 1px 1px rgba(255,255,255,1);
}

.close {
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: block;
    top: 0px;
    right: 5px;
    text-align: center;
    color: #000;
    opacity: 0.8;
    cursor: pointer;
}

.close:hover {
    opacity: 1;
}

.modal-body {
    font-size: 12px;
    padding: 20px;
    text-shadow: 1px 1px rgba(255,255,255,1);
    color: #000;
}

.modal-body a {
    display: block;
    text-decoration: none;
    color: #ad1450;
}

.modal-body a:hover {
    text-decoration: underline;
}

.modal-wrapper {
    width: 600px;
    height: auto;
    background-color: #fff;
}

.hide {
    display: none;
}

.field.error {
    position: relative;
}

.field.error input {
    border-color: #ff6178;
}

.message {
    font-weight: bold;
    position: absolute;
    min-width: 250px;
    top: 0;
    bottom: 0;
    left: 335px;
    padding: 13px;
    display: none;
    white-space: nowrap;
    background-color: #ff6178;
    color: #fff;
    cursor: default;
    z-index: 2;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.message:before {
    position: absolute;
    top: 50%;
    left: -10px;
    margin-top: -10px;
    display: inline-block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ff6178;
    content: "";
}

.eleft .message:before {
    position: absolute;
    top: 50%;
    left: auto;
    right: -10px;
    margin-top: -10px;
    display: inline-block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 0;
    border-left: 10px solid #d64864;
    content: "";
}

.error .message {
    top: 0;
    bottom: 0;
    left: 358px;
    padding: 20px;
    background-color: #d64864;
}

.eleft .message {
    top: 0;
    bottom: 0;
    left: auto;
    right: 358px;
    padding: 20px;
    text-align: right;
    background-color: #d64864;
}

.field.error .message {
    display: block;
}

.bg-enter {
    height: auto;
}

.login-social {
    padding-bottom: 15px;
    overflow: hidden;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.social-enter {
    font-weight: bold;
    width: 170px;
    line-height: 55px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #445f97;
}

.social-enter.active {
    background-color: #3467d2;
}

.left {
    float: left;
}

.right {
    float: right;
}

.modal.login-vk-end {
    margin: -220px 0 0 -193px;
}

.modal.login-vk-end .modal-wrapper {
    width: 388px;
}

.modal.login-vk-end .message {
    position: relative;
    left: 0;
    right: 0;
    padding: 10px;
    margin-top: 10px;
}

.modal.login-vk-end .message:before {
    top: 0;
    left: 50%;
    margin-left: -10px;
    border-top: 0;
    border-bottom: 10px solid #d64864;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.modal.login-vk-end .modal-body {
    text-shadow: none;
}

.modal.login-vk-end .field.error {
    margin-top: 10px;
    margin-bottom: 50px;
}

.modal.login-vk-end .form-title {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #3a3a3a;
}

.login-vk-group {
    padding-bottom: 0;
    overflow: hidden;
}

.login-vk-group input[type="submit"] {
    font-weight: bold;
    width: 170px;
    line-height: 55px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.login-vk-group input[type="submit"].back {
    background-color: #d5d5d5;
    color: #fff;
}
