/*MAIN*/
html {
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    height: 100%;
    max-width: 1920px;
    min-width: 320px;
    text-rendering: optimizeSpeed;
}

body {
    font-family: Calibri, sans-serif;
    font-size: 14px;
    margin: 0;
    background: #fff;
    color: #4c4c4c;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: 0;
}

form {
    margin: 0;
}

hr {
    margin: 0;
    padding: 0;
    border-left-width: 0;
    border-right-width: 0;
}

hr:after,
hr:before {
    display: none;
}

a, a:hover, a:active {
    outline: 0;
    cursor: pointer;
}

a:active {
    background: none;
}

a[href^=tel] {
    color: inherit;
}

textarea,
input,
button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

th, td {
    padding: 0;
    vertical-align: middle;
    text-align: left;
}

.hide {
    display: none;
}

.hide-i {
    display: none !important;
}

.show {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.no-select {
    text-decoration: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    clear: both;
}

.container {
    position: relative;
    width: 1236px;
    margin: 0 auto;
}

.supreme-container {
    min-height: 100%;
    margin-top: -722px;
}

.body-finish .supreme-container {
    margin-top: -75px;
}

.supreme-inner {
    position: relative;
    width: auto !important;
    margin: 0 auto;
    padding-top: 722px;
    padding-bottom: 358px;
}

.body-finish .supreme-inner {
    padding-top: 75px;
}

/*MAIN HEADER*/

.main-header {
    position: relative;
    height: 722px;
    border-bottom: 2px solid #ff7c91;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/promo-header-bg.jpg');
    z-index: 2;
}

.header-logo {
    position: absolute;
    top: 18px;
    left: 30px;
}

.header-logo a {
    width: 262px;
    height: 47px;
    display: block;
    text-decoration: none;
    background: url("../img/logo-mommy.svg") no-repeat center;
    background-size: contain;
}

.header-block {
    position: absolute;
    width: auto;
    top: 107px;
    right: 65px;
}

.header-title {
    font-size: 116px;
    margin: 0 auto;
    line-height: 120px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    cursor: default;
}

.header-text {
    font-size: 24px;
    margin: 0 0 0 20px;
    line-height: 30px;
    text-align: left;
    cursor: default;
    color: #fff;
}

/*SECTIONS*/

.header-section {
    padding: 20px 0 0;
}

.title-section {
    font-size: 60px;
    margin: 0;
    text-align: center;
    color: #ff7c91;
    cursor: default;
}

/*BLOCK 1*/

.block1 {
    position: relative;
    font-size: 19px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../img/block1-bg.jpg");
}

.block1 p {
    margin: 0 auto;
    line-height: 24px;
}

.block1 p + p {
    margin: 20px auto 0;
}

.block1-list1 {
    padding: 50px 0 40px;
    text-align: center;
}

.block1-list1 li {
    padding: 0 20px;
    padding-top: 160px;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: top center;
}

.block1-list1-li1 {
    width: 300px;
    background-image: url('../img/block1-list1-li1.png');
}

.block1-list1-li2 {
    width: 400px;
    background-image: url('../img/block1-list1-li2.png');
}

.block1-list1-li3 {
    width: 300px;
    background-image: url('../img/block1-list1-li3.png');
}

.block2 {
    position: relative;
    font-size: 19px;
    min-height: 770px;
    padding-bottom: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-image: url("../img/block2-bg.jpg");
    background-color: #f5f5f5;
}

.block2 p {
    margin: 0 auto;
    margin-top: 10px;
    line-height: 24px;
}

.block2-list1 {
    position: relative;
    margin-bottom: 20px;
    padding: 50px 0 40px;
    text-align: center;
}

.block2-list1:after {
    position: absolute;
    height: 23px;
    top: 100%;
    left: 0;
    right: 0;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/block2-list1-footer.png');
}

.block2-list1 li {
    padding: 0 20px;
    padding-top: 75px;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: top center;
}

.block2-list1-li1 {
    width: 190px;
    background-image: url('../img/block2-list1-li1.png');
}

.block2-list1-li2 {
    position: relative;
    width: 350px;
    padding: 75px 40px 0 !important;
    background-image: url('../img/block2-list1-li2.png');
}

.block2-list1-li2:before,
.block2-list1-li2:after {
    position: absolute;
    width: 27px;
    height: 66px;
    top: 55px;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/block2-list1-arrow.png');
}

.block2-list1-li2:before {
    left: 5px;
}

.block2-list1-li2:after {
    right: 5px;
}

.block2-list1-li3 {
    width: 200px;
    background-image: url('../img/block2-list1-li3.png');
}

.list-li-bold {
    font-size: 56px;
    line-height: 54px;
    display: block;
}

.list-li-bold strong {
    display: inline-block;
    vertical-align: top;
}

.list-li-bold small {
    display: inline-block;
    line-height: 44px;
}

.list-li-sub {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}

.block2-text {
    font-size: 21px;
}

.block2-text2 {
    font-size: 19px;
    font-weight: bold;
}

.block2-bold-text {
    font-size: 28px;
    font-weight: bold;
    padding-top: 14px;
}

.block2-bold-text2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px !important;
}

.block2-profit {
    font-size: 82px;
    font-weight: bold;
    line-height: 60px !important;
    text-shadow: 0 2px 0 #da6e80;
    color: #ff7c91;
}

.block3 {
    position: relative;
    font-size: 19px;
    height: 664px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-image: url("../img/block3-bg.jpg");
    background-color: #fff;
}

.block3 .container {
    height: 664px;
}

.block3 p {
    margin: 0;
    text-align: center;
}

.block3-text1 {
    font-size: 27px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 33px;
}

.block3-text2 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    line-height: 38px;
    color: #ff7c91;
}

.block3-wrapper {
    position: absolute;
    width: 484px;
    height: 353px;
    right: 180px;
    bottom: 40px;
}

.block3-inner {
    padding: 30px 56px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(169, 82, 86, 0.2);
    background-color: #fff;
}

.form-inner {
    position: relative;
}

.form-label {
    width: 17px;
    color: #000;
}

.form-input-field {
    position: relative;
    margin: 10px 0 20px;
}

.form-input {
    font-size: 17px;
    width: 100%;
    height: 62px;
    padding: 0 10px;
    outline: 0;
    border: 4px solid #e1e1e1;
    display: block;
    background: none #fff;
}

.form-input:focus {
    border: 4px solid #d6d6d6 !important;
}

.error .form-input {
    border: 4px solid #ff7c91 !important;
}

.message {
    position: absolute;
    font-size: 18px;
    font-weight: normal;
    top: 100%;
    left: 0;
    padding: 0;
    display: none;
    line-height: 19px;
    background-color: transparent;
    color: #ff5765;
}

.message:before {
    display: none;
}

.error .message {
    display: block;
}

.form-btn {
    font-size: 19px;
    width: 250px;
    height: 60px;
    margin: 20px auto;
    text-align: center;
    display: block;
    outline: none;
    border: none;
    border-bottom: 3px solid #41937f;
    background: none #49b198;
    user-select: none;
    color: #fff;
    cursor: pointer;
}

.form-btn:hover {
    background: none #429f87;
}

button.form-btn[disabled] {
    border-bottom: 3px solid rgba(65, 147, 127, 0.3);
    background: none rgba(73, 177, 152, 0.6);
    cursor: default;
}

.checkbox-line {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    user-select: none;
}

.checkbox-line-margin {
    margin-left: 30px;
}

.checkbox-line input {
    position: absolute;
    left: -9999px;
}

.checkbox-line label {
    padding-left: 36px;
    display: block;
    color: #000;
}

.checkbox-line label {
    padding-left: 30px;
    display: block;
    color: #000;
}

.checkbox-line label:before {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 3px;
    left: 0;
    content: '';
    display: block;
    border: 1px solid #49b198;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/icon-check.svg');
    background-color: #fff;
    cursor: pointer;
}

.checkbox-line input[type="checkbox"]:checked + label:before {
    background-color: #49b198;
}

.checkbox-line a {
    color: #49b198;
}

.checkbox-line a:hover {
    text-decoration: none;
}

/*FINISH*/

.body-finish {
    font-family: 'PT Sans', arial, sans-serif;
}

.finish-logo {
    width: 204px;
    height: 36px;
    display: block;
    margin: 16px auto 0;
    text-decoration: none;
    background: url("../img/logo-mommy.svg") no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.finish-inner {
    width: 880px;
    height: 580px;
    margin: 25px auto 75px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: #fff;
}

.finish-header {
    position: relative;
    height: 75px;
    border-bottom: 1px solid #e0e0e1;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.finish-btn {
    font-size: 18px;
    width: 250px;
    height: 60px;
    margin: 35px auto;
    text-align: center;
    display: block;
    outline: none;
    border: none;
    text-decoration: none;
    line-height: 57px;
    border-bottom: 3px solid #41937f;
    background: none #49b198;
    user-select: none;
    color: #fff;
    cursor: pointer;
}

.finish-btn:hover {
    background: none #429f87;
}

.finish-image {
    width: 200px;
    height: 205px;
    margin: 0 auto;
    background-image: url("../img/promo-finish-img.png");
}

.finish-title {
    font-size: 32px;
    margin: 20px 0 15px;
    color: #494949;
}

.finish-text {
    font-size: 19px;
    margin: 0;
    line-height: 27px;
    color: #333333;
}

/*MAIN FOOTER*/

.main-footer {
    position: relative;
    font-family: 'PT Sans', arial, sans-serif;
    min-height: 358px;
    margin-top: -358px;
    z-index: 3;
    background-image: url('../img/footer-bg.png');
}

.main-footer .container {
    padding-top: 45px;
    padding-bottom: 35px;
    overflow: hidden;
}

.footer-nav {
    position: relative;
    padding: 0 110px 0 228px;
}

.main-footer ul {
    margin: 0;
}

.main-footer h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #6a6a6a;
}

.main-footer li {
    margin: 0;
}

.main-footer .logo a {
    position: absolute;
    top: 0;
    left: 6px;
    width: 222px;
    height: 44px;
    display: block;
    text-indent: -9999px;
    text-decoration: none;
    background: url('../img/logo-mommy.svg') no-repeat;
    background-size: contain;
    color: #3b3b3b;
}

.main-footer .logo {
    margin-left: 6px;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-footer .footer-group.contacts {
    margin-left: 30px;
}

.main-footer .contacts h3 {
    margin-bottom: 10px;
}

.main-footer .contacts li {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -2px;
    color: #ff839b;
}

.main-footer .contacts a[href^=tel] {
    text-decoration: none;
    color: #ff839b;
}

.main-footer .contacts a.mob {
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    letter-spacing: normal;
    text-decoration: underline;
    display: inline-block;
    color: #606060;
}

.main-footer .contacts a.mob:hover {
    text-decoration: none;
}

.contacts .social {
    overflow: hidden;
}

.contacts .social li {
    margin-top: 0;
    padding-right: 6px;
    padding-bottom: 14px;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contacts .social a {
    position: relative;
    width: 38px;
    height: 38px;
    display: block;
    text-indent: -9999px;
    border-radius: 50%;
    background-color: #f3849f;
}

.contacts .social a:hover {
    background-color: #f1627d;
}

.contacts .social a:before {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    display: block;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
}

.contacts .social .fb:before {
    background-image: url("../img/social-fb.svg");
}

.main-footer .footer-group {
    margin-left: 45px;
    float: left;
}

.footer-group li {
    margin-top: 14px;
}

.footer-group a {
    text-decoration: none;
    color: #606060;
}

.footer-group a:hover {
    color: #ff839b;
}

.dev {
    position: absolute;
    top: 0;
    right: 6px;
}

.dev a {
    position: relative;
    font-size: 10px;
    width: 110px;
    padding-top: 30px;
    display: block;
    text-decoration: none;
    color: #959595;
}

@media (min-width: 0) and (max-width: 1251px) {

    .container {
        width: auto;
    }

    .block3-wrapper {
        left: 50%;
        right: 0;
        margin-left: -242px;
    }

    .main-footer .footer-group {
        margin-left: 25px;
    }

    .main-footer .footer-group.contacts {
        margin-left: 20px;
    }

}

@media (min-width: 0) and (max-width: 999px) {

    html, body {
        height: inherit;
    }

    .container {
        padding: 0 10px;
    }

    .supreme-container {
        min-height: inherit;
        margin-top: 0;
    }

    .supreme-inner {
        padding-top: 0;
        padding-bottom: 0;
    }

    .main-footer {
        min-height: inherit;
        margin-top: 0;
    }

    .main-header {
        height: auto;
        padding-bottom: 30px;
        text-align: center;
    }

    .header-logo {
        position: static;
        padding: 20px 0 0;
    }

    .header-logo a {
        margin: 0 auto;
    }

    .header-block {
        position: static;
        display: inline-block;
    }

    .block1-list1 {
        padding: 20px 0;
    }

    .block1-list1 li {
        margin-bottom: 20px;
    }

    .block2-list1 {
        padding: 50px 0 20px;
    }

    .block2-list1 li {
        margin-bottom: 20px;
    }

    .block3 {
        height: auto;
    }

    .block3 .container {
        height: auto;
    }

    .block3-wrapper {
        position: static;
        margin: 30px auto;
    }

    .block3-text1 {
        font-size: 22px;
        line-height: 25px;
        margin: 0 -10px !important;
        padding: 20px 10px;
        background-color: #fff;
    }

    .block3-text2 {
        font-size: 26px;
        line-height: 30px;
        margin: 0 -10px !important;
        padding: 20px 10px;
        background-color: #f4e6e9;
    }

    .main-footer .container {
        padding-top: 25px;
        padding-bottom: 15px;
    }

    .footer-nav {
        padding: 0;
        text-align: center;
    }

    .main-footer .logo {
        margin-left: 0;
        padding-bottom: 10px;
        float: none;
        display: block;
        vertical-align: top;
    }

    .main-footer .logo a {
        position: static;
        margin: 0 auto;
    }

    .main-footer .footer-group {
        margin-left: 0;
        margin-bottom: 10px;
        padding: 0 5px;
        float: none;
        text-align: left;
        display: inline-block;
        vertical-align: top;
    }

    .main-footer .footer-group.contacts {
        margin-left: 0;
        margin-bottom: 10px;
        float: none;
        display: inline-block;
        vertical-align: top;
    }

    .dev {
        display: none;
    }

}

@media (min-width: 0) and (max-width: 690px) {

    br {
        display: none;
    }

    .header-block {
        padding-top: 20px;
    }

    .header-title {
        font-size: 40px;
        line-height: inherit;
    }

    .header-text {
        line-height: inherit;
        text-align: center;
    }

    .title-section {
        font-size: 40px;
    }

    .block1 p {
        line-height: inherit;
    }

    .block1-list1-li2 {
        width: 300px;
    }

    .block2-list1 {
        padding: 20px 0;
    }

    .block2-list1-li2 {
        width: 300px;
    }

    .block2-list1-li2:before,
    .block2-list1-li2:after {
        display: none;
    }

    .block2 p {
        line-height: inherit;
    }

    .block2-profit {
        font-size: 60px;
        line-height: inherit !important;
    }

    .block2-bold-text2 {
        font-size: 26px;
        margin-top: 10px !important;
    }

    .block3-wrapper {
        width: auto;
        height: auto;
        max-width: 400px;
    }

    .block3-inner {
        padding: 10px 20px;
    }

    .main-footer .footer-group {
        display: block;
        text-align: center;
    }

    .main-footer h3 {
        margin-bottom: 0;
    }

    .main-footer ul {
        overflow: hidden;
        padding-bottom: 10px;
    }

    .footer-group li {
        padding: 0 5px;
        display: inline-block;
        vertical-align: top;
    }

    .main-footer .footer-group.contacts {
        display: block;
    }

    .contacts .social li {
        padding: 0 5px;
        float: none;
    }

    .main-footer .contacts a.mob {
        margin-top: 0;
    }

}
