/* CSS Mobile Reset */
html, body {
    min-width: 100%;
    max-width: 640px;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: arial;
    line-height: normal;
    font-size: 14px;
    background: #fff;
    background-image: url('../img/bg.jpg');
    color: #606060;
    -webkit-text-size-adjust: none;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #553b28;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul, dl, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 0;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #606060;
}

textarea,
input,
button {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.main-container {
    position: relative;
    text-align: center;
}

.container {
    width: 100%;
    margin-bottom: -4px;
    text-align: left;
    display: inline-block;
}

/*Content*/

.container {
    max-width: 640px;
    min-width: 320px;
    padding: 0 30px 30px;
    box-sizing: border-box;
}

.overflow {
    overflow: hidden;
}

.logo {
    width: 243px;
    height: 85px;
    display: block;
    float: right;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-image: url('../img/logo.svg');
}

.top-text {
    padding-top: 155px;
    float: right;
}

.top-text span {
    display: block;
    color: #fff;
}

.top-text .text1 {
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
}

.top-text .text2 {
    font-size: 32px;
}

.top-text .text3 {
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
}

.bottom-text {
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.bottom-text .text1 {
    font-size: 34px;
}

.bottom-text .text2 {
    font-size: 42px;
    display: block;
}

.form-block {
    text-align: center;
}

.content-bg {
    margin: 155px 0 0;
    padding-top: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

.content-bg.no-marg {
    margin: 80px 0 0;
}

.form-block input {
    font-family: arial;
    font-size: 22px;
    width: 100%;
    margin: 0;
    margin-top: 10px;
    padding: 5px;
    border: 6px solid #d7d7d7;
    outline: none;
    line-height: 30px;
    box-sizing: border-box;
}

.form-block input[type="submit"] {
    font-weight: bold;
    font-size: 32px;
    background: none;
    background-color: #ff6179;
    border: 0;
    padding: 0;
    height: 52px;
    color: #fff;
}

.after {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.input-wrap.error {
    position: relative;
}

.message {
    font-weight: bold;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 335px;
    padding: 13px;
    display: none;
    white-space: nowrap;
    background-color: #d64864;
    color: #fff;
    cursor: default;
    z-index: 2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.message:before {
    position: absolute;
    top: 50%;
    left: -10px;
    margin-top: -10px;
    display: inline-block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #d64864;
    content: "";
}

.input-wrap.error.top .message {
    top: -42px;
    right: 0;
    bottom: auto;
    left: 0;
    padding: 13px 5px;
    text-align: center;
}

.input-wrap.error.top .message:before {
    top: auto;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    border-top: 10px solid #d64864;
    border-bottom: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.input-wrap.error .message {
    font-size: 13px;
    display: block;
}

.input-wrap.error input {
    border-color: #ff6178;
}

@media (max-width: 560px) {

    .logo {
        margin: 0 auto;
        float: none;
    }

    .top-text {
        float: none;
        text-align: center;
    }

    .top-text .text1 {
        font-size: 38px;
    }

    .top-text .text2 {
        font-size: 28px;
    }

    .top-text .text3 {
        font-size: 30px;
    }

    .container {
        padding: 0 10px 30px;
    }

    .bottom-text .text1 {
        font-size: 26px;
    }

    .bottom-text .text2 {
        font-size: 34px;
    }

    .after {
        font-size: 30px;
    }

}












