.products-error-page .goods-list {
    overflow: visible;
}

.products-error-page .goods-list .goods-item.form-in .form-in-wrap,
.products-error-page .goods-list .box,
.products-error-page .goods-list .goods-item.form-in .product-info-wrapper,
.products-error-page .goods-list .goods-item.form-in .form-in-wrap-content {
    width: 222px;
}

.products-error-page .goods-list .image-wrapper {
    width: auto;
    height: 300px !important;
}

.products-error-page .goods-list .image-wrapper > div {
    padding: 50px 4px 4px 4px;
}

.products-error-page .goods-list .image-wrapper img {
    width: 100%;
    height: auto;
}

.products-error-page {
    float: right;
    width: 66%;
    margin-top: 4%;
    padding: 0;
}

.products-error-page .goods-item.form-in.category-off {
    padding-left: 10px;
    margin: 0;
    float: right;
    width: 222px;
}

.products-error-page .recommended-block-title {
    text-align: left;
    font-size: 24px;
    margin-left: 4%;
}

.products-error-page .recommended-block-title {
    margin-left: 8%;
}

.not-found-events h2 {
    margin-top: 20px;
}

.products-error-page .goods-list .goods-item.form-in:hover .available-info,
.products-error-page .goods-list .goods-item.form-in.active .available-info {
    display: block;
    font-size: 16px;
    color: #e35a74;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.not-found-events h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.all-events-button {
    position: relative;
    width: 292px;
    height: 251px;
    background: white;
    float: right;
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
}

.all-events-button span {
    position: relative;
    display: inline-block;
    color: deeppink;
    top: 45%;
    font-size: 18px;
    font-weight: 700;
}

.not-found-events .promo-now a {
    border: none;
    width: auto;
    height: 283px;
    margin: 5px auto;
    padding: 5px;
}

.not-found-events .promo-now .image-wrapper, .not-found-events .promo-now .image-wrapper {
    text-align: center;
    margin-top: 5px;
}

.not-found-events .promo-now .box {
    border: 1px solid rgb(222, 222, 222);
    position: relative;
    height: 280px;
}

.not-found-events .promo-now .image-wrapper,
.not-found-events .promo-now .image-wrapper img {
    height: 133px;
    width: auto;
    overflow: hidden;
}

.not-found-events .promo-now .text-wrapper {
    padding: 7px;
    height: auto;
    position: absolute;
    bottom: -6px;
    left: 0;
}

.not-found-events .time.text, .not-found-events .price.text {
    float: none !important;
    text-align: left;
}

.promo-now .text-wrapper .text  {
    height: auto;
    white-space: initial;
}

.not-found-events section {
    display: inline-block;
    height: 370px;

    width: 25%;
    float: left;
    margin: 0 auto;
}

.not-found-events .promo-now .price {
    width: auto !important;
}

.not-found-events {
    margin-bottom: 20px;
}

.not-found-subscribe h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

.not-found-subscribe {
    display: block;
    border-top: 1px dashed deeppink;
}

.not-found-subscribe > div > form {
    margin-top: 20px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.not-found-subscribe button, .not-found-subscribe input {
    display: inline-block;
}

.not-found-subscribe input {
    width: 300px;
    height: 30px;
    border: 1px solid rgb(200, 200, 200);
    margin-right: 20px
}

.not-found-subscribe button {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background: rgb(1, 162, 166);
    border-radius: 3px;
    height: 30px;
}

.all-events-button {
    margin-top: 10px;
    width: 24.4%;
    height: 280px;
}

.all-events-button > span > a,
.all-events-button > span > a:hover {
    width: auto;
    height: auto;
    font-size: 16px;
    color: rgb(223, 90, 109);
    display: inline;
    border: 0;
    text-decoration: none;
    background: white !important;
}

.not-found-subscribe .field {
    display: inline-block;
    position: relative;
}

.not-found-subscribe input[name="RegistrationForm[email]"] {
    margin-bottom: 25px;
    margin-left: 20px;
    padding-left: 5px;
    display: inline-block;
}

.not-found-subscribe input[type="submit"] {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    text-decoration: inherit;
    white-space: pre-line;
    word-wrap: break-word;
    vertical-align: middle;
    overflow: hidden;
    line-height: normal;
    background-color: rgb(1, 162, 166);
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    width: 300px;
    height: 32px;
    margin-top: -2px;
}

.products-error-page .goods-list .goods-item.form-in:hover .form-in-wrap-content {
    box-shadow: 0 0 8px #ababab;
}

.not-found-subscribe #not-found-email_em_ {
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 40px;
    margin-left: 20px;
    height: 40px;
    padding: 13px;
    display: none;
    white-space: nowrap;
    background-color: #ff6178;
    color: #fff;
    cursor: default;
    z-index: 2;
}

.promo-now .title {
    font-size: 18px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    height: auto !important;
    white-space: normal;
    line-height: 23px;
    text-transform: uppercase;
    color: #e35a74;
}

.message:before {
    position: absolute;
    display: none;
    border: none;
}



.price.text, .time.text {
    width: 80%;
}

.promo-now .title-wrapper .title {
    display: block;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}