.regionSwitcher .regionModal {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 442px;
    padding: 47px 30px 58px;
    font-family: "PTSans";
    color: #333333;
    background: #ffffff;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, .5);
    z-index: 1050;
}

.regionSwitcher .regionModal__geo {
    display: block;
    width: 70px;
    margin: 0 auto;
}

.regionSwitcher .regionModal__title {
    margin: 45px auto 20px;
    font-size: 20px;
    text-align: center;
}

.regionSwitcher .regionModal__choice {
    display: table;
    width: 100%;
    font-size: 0;
}

.regionSwitcher .regionModal__choiceItem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: center;
}

.regionSwitcher .regionModal__choiceItemInp {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.regionSwitcher .regionModal__choiceItemInp:checked ~ .regionModal__choiceItemLabel {
    font-weight: 700;
}

.regionSwitcher .regionModal__choiceItemLabel {
    font-size: 36px;
    cursor: pointer;
}

.regionSwitcher .regionPopup {
    top: 97px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    max-width: 352px;
    padding: 28px 20px;
    text-align: center;
    color: #333333;
    background: #ffffff;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, .3);
    z-index: 1030;
}

.regionSwitcher .regionPopup::before {
    content: "";
    position: absolute;
    left: 75px;
    bottom: 100%;
    border-bottom: 30px solid #ffffff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    filter: drop-shadow(0px -5px 5px rgba(0, 0, 0, .3));
}

.regionSwitcher .regionPopup__question {
    margin: 0 auto 2px;
    font-size: 20px;
}

.regionSwitcher .regionPopup__city {
    margin: 0 auto 18px;
    font-size: 36px;
    font-weight: 700;
}

.regionSwitcher .regionPopup__ctrl {
    text-align: justify;
    line-height: 0;
}

.regionSwitcher .regionPopup__ctrl::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 0;
    visibility: hidden;
}

.regionSwitcher .regionPopup__ctrlBtn {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 150px;
    padding: 12px 10px;
    font: 400 18px/1 "PTSans";
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.regionSwitcher .regionPopup__ctrlBtn._confirm {
    color: #ffffff;
    background: #fe7d91;
    border: 1px solid transparent;
}

.regionSwitcher .regionPopup__ctrlBtn._decline {
    color: #333333;
    background: none;
    border: 1px solid #b1b1b1;
}

.regionSwitcher .regionPopup__ctrlBtn:hover {
    opacity: .8;
}
