.modal-dialog {
    overflow-y: initial !important;
    overflow-x: hidden !important;
    background: rgb(255, 255, 255);
}

.modal-body {
    width: 760px;
    height: 500px;
    padding: 20px;
}

.sizes, .container .size-content {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: black !important;
    background: white !important;
    width: 1124px !important;
}

.sizes h1 {
    margin-top: 30px;
    font-weight: 400;
    font-size: 36px;
}

.sizes a {
    text-decoration: none;
    color: black;
}

.sizes ul {
    display: inline-block;
    vertical-align: top;
    padding: 36px 12px 12px 0;
    width: 22%;
}

.sizes ul li {
    margin-bottom: 34px;
    overflow: hidden;
}

.size-guide-anchors {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0 auto !important;
    overflow: hidden;
}

.size-header {
    font-size: 20px;
    overflow: hidden;
}

.size-instruction {
    font-size: 14px;
}

.size-desc {
    overflow: hidden;
}

.size-icon {
    float: left;
    padding-right: 25px;
    height: 100%;
}

.size-title, .page-title {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin-top: 30px;
    font-weight: 400 !important;
    font-size: 36px;
    color: black !important;
}

.page-title h1, .page-title h2, .size-table-title {
    color: black;
    font-weight: normal !important;
    padding: 0;
    text-align: left;
}

table tr:first-child {
    border-top: 1px solid #dcdcdc;
}

table tr {
    border-bottom: 1px solid #dcdcdc;
}

table td:first-child {
    padding-right: 20px;
    padding-left: 10px;
}

.size-table .title, .size-table th, .size-table td {
    font-size: 14px !important;
}

.sizes-wrapper {
    background: white;
    padding: 20px;
    width: 1124px !important;
    margin: 10px auto 10px auto !important;
}

.shaded.title, .size.title {
    font-weight: bold !important;
    color: black !important;
}

#sizeGuideModal button {
    position: absolute;
    background: transparent;
    color: black;
    font-size: 40px;
    right: 15px;
    cursor: pointer;
}

#sizeGuideModal .size-content, #sizeGuideModal .sizes, #sizeGuideModal .container {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: black !important;
    background: white !important;
    width: 760px !important;
}
