body {
    font-family: 'PT Sans';
    width: auto;
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
    color: #000;
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/ptsans/ptsans-regular.eot);
    src: local('PT Sans'), local('PTSans-Regular'), url(fonts/ptsans/ptsans-regular.eot) format('embedded-opentype'), url(fonts/ptsans/ptsans-regular.woff) format('woff');
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/ptsans/ptsans-bold.eot);
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(fonts/ptsans/ptsans-bold.eot) format('embedded-opentype'), url(fonts/ptsans/ptsans-bold.woff) format('woff');
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: url(fonts/ptsans/ptsans-italic.eot);
    src: local('PT Sans Italic'), local('PTSans-Italic'), url(fonts/ptsans/ptsans-italic.eot) format('embedded-opentype'), url(fonts/ptsans/ptsans-italic.woff) format('woff');
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: url(fonts/ptsans/ptsans-bolditalic.eot);
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(fonts/ptsans/ptsans-bolditalic.eot) format('embedded-opentype'), url(fonts/ptsans/ptsans-bolditalic.woff) format('woff');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page {
    page-break-after: always;
    page-break-inside: avoid;
}

.page:last-child {
    page-break-after: auto;
}

.main {
    position: relative;
    width: 100mm;
    height: 69.8mm;
    margin: 0 auto 3mm;
    vertical-align: top;
    zoom: 1;
}

.page:last-child .main {
    margin: 0 auto;
}

.main-blank {
    position: relative;
    width: 210mm;
    margin: 0 auto;
    min-height: 296mm;
    vertical-align: top;
    zoom: 1;
    text-align: left;
}

.main-blank {
    font-family: 'PT Sans';
    font-size: 4.5mm;
}

.header {
    position: relative;
    height: 92.4mm;
    padding: 5.816mm 9.632mm;
    text-align: left;
    background-image: url('img/coupon-bg.png');
}

.header-wrapper {
    position: relative;
}

.header-order {
    font-size: 6.4mm;
    z-index: 20;
    position: absolute;
    right: -30px;
    top: -18px;
    color: rgba(68, 68, 68, 0.7);
}

.head-logo {
    position: absolute;
}

.head-logo img {
    width: 59mm;
    height: 11.7mm;
    display: block;
}

.head-header {
    position: absolute;
    font-size: 11.7mm;
    font-weight: bold;
    font-style: italic;
    top: 0;
    right: 11mm;
    line-height: 12mm;
    color: #444;
}

.head-content {
    position: absolute;
    top: 14mm;
}

.head-label {
    font-size: 7mm;
    font-weight: bold;
    font-style: italic;
    line-height: 10.1mm;
    color: #444;
}

.head-text {
    font-size: 5mm;
    padding-left: 5mm;
    line-height: 6.2mm;
    color: #444;
}

.coupons {
    position: relative;
    padding: 2.816mm 9.632mm;
}

.coupons-row-wrap {
    width: 188.4mm;
    margin: 0 auto;
}

.coupons-row {
    position: relative;
}

.coupon-cut-off {
    width: 188.4mm;
    height: 8mm;
    display: block;
}

.coupons-row {
    position: relative;
    height: 39.3mm;
}

.coupon-cell-left,
.coupon-cell-right {
    position: absolute;
    height: 39.3mm;
    top: 0;
}

.coupon-cell-left {
    left: 0;
}

.coupon-cell-right {
    left: 100.5mm;
}

.coupon-sale {
    position: absolute;
    width: 21.7mm;
    height: 39.3mm;
    top: 0;
    left: 0;
    z-index: 1;
}

.coupon-sale-text {
    position: absolute;
    font-style: italic;
    font-weight: bold;
    font-size: 13mm;
    height: 21.7mm;
    width: 21.7mm;
    bottom: 8mm;
    left: 0;
    z-index: 2;
    color: #fff;
    text-align: center;
    line-height: 21.7mm;
    text-transform: uppercase;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.coupon-personal {
    position: absolute;
    width: 100.5mm;
    height: 39.3mm;
    padding-left: 25mm;
    padding-right: 4mm;
    text-align: center;
}

.coupon-cut-off-line {
    position: absolute;
    width: 0.6mm;
    height: 39.3mm;
    top: 0;
    right: 0;
}

.coupon-title {
    font-size: 5mm;
    font-weight: bold;
    padding-top: 2.3mm;
    line-height: 6mm;
    text-transform: uppercase;
    color: #444;
}

.coupon-code {
    position: absolute;
    width: 87.8mm;
    height: 39.3mm;
    padding-left: 4mm;
    padding-right: 4mm;
    text-align: center;
}

.coupon-code .code {
    font-size: 6mm;
    padding-top: 8.4mm;
    line-height: 7mm;
    color: #444;
}

.coupon-main-text {
    font-size: 6.6mm;
    padding-top: 3mm;
    line-height: 19mm;
    overflow: hidden;
    color: #444;
}

.coupon-text {
    font-size: 4.4mm;
    padding-top: 2mm;
    line-height: 5.5mm;
    color: #444;
}

.coupon-text + .coupon-text {
    padding-top: 0;
}

.notice {
    font-size: 4.4mm;
    padding-top: 2mm;
    padding-bottom: 2mm;
    padding-left: 9.632mm;
    line-height: 5.5mm;
    color: #444;
}

@media print {
    @page {
        margin: 0;
    }

    body > * {
        display: none;
    }

    .page {
        display: block;
    }
}

table {
    page-break-after: auto;
}

tr td {
    page-break-inside: avoid;
    page-break-after: always;
    page-break-before: always;
}

tr {
    page-break-inside: avoid;
    page-break-after: always;
    page-break-before: always;
}

thead {
    display: table-header-group;
}

tfoot {
    display: table-footer-group;
}
