.printable {
    width: 100%;
    min-height: 100%;
    background: white !important;
    text-align: center;
}

.printable-printbtn {
    font-size: 2.5em;
    padding: 1em;
    display: inline-block;
    margin: 1em auto;
}

.printable-label {
    text-align: left;
    margin: 0 auto 40px;
    display: block;
    clear: both;
    font-family: Arial;
    font-size: 1.3em;
    overflow: hidden;
    border: 0.1em solid #000000;
    color: black;
    word-break: break-all;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.printable-label * {
    font: inherit;
    color: inherit;
    font-smooth: never;
    -webkit-font-smoothing: none;
    word-break: break-all;
}

.printable-label {
    height: 305px;
    width: 580px;
    overflow: hidden;
}

.printable-label.vertical {
    width: 400px;
    height: 600px;
}

.thumbnail {
    width: 30%;
    height: auto;
}

.printable-label .label-header {
    height: 25px;
    line-height: 25px;
    background: black;
    color: white;
    font-size: 1.4em;
}

.printable-label.warehouse-label .label-description {
    height: 140px;
    overflow: hidden;
}

.printable-label.warehouse-label .label-barcode img {
    max-width: 100%;
    max-height: 100%;
}

.printable-label.warehouse-label .label-security-code {
    padding: 10px;
    font-weight: bold;
    font-size: 110%;
}

.printable-label.delivery-label {
    padding: 1em;
}

.printable-label.delivery-label .delivery-label-attribute {
}

.printable-label.delivery-label .delivery-label-value {
    text-decoration: underline;
}

.printable-label .label-barcode {
    text-align: center;
    margin-top: 1em;
}

.printable-label.printable-a4 {
    width: 210mm;
    height: 297mm;
    max-height: 297mm;
    overflow: hidden;
    padding: 1em;
}

.printable-label.printable-a4.printable-a4-multi-paged {
    max-height: none;
    min-height: 297mm;
    height: auto;
}

.printable-a4-landscape {
    width: 297mm;
    height: 210mm;
    max-height: 210mm;
    max-width: 297mm;
    overflow: hidden;
    padding: 1em;
}

.printable-label.printable-a4.printable-half-height {
    height: 148mm;
}

.printable-label .highlight {
    text-decoration: underline;
    font-weight: bold;
    font-size: 110%;
}

.label-invoice {
}

.label-invoice-products {
    margin: 1em 0;
    border-collapse: collapse;
}

.label-invoice-products table {
    width: 100%;
}

.label-invoice-products td {
    border: 0.1em solid #000000;
}

.label-invoice-products thead td {
    font-size: 14px;
    font-weight: bold;
    word-break: keep-all;
}

.label-invoice-products tfoot td, .supplier-invoice .total td {
    text-align: right;
}

.label-invoice-products .width-40 {
    width: 40%;
}

.label-invoice-products .width-10 {
    width: 10%;
}

.print-container {
    padding: 0 20px;
}

.print-container .requisites div {
    margin-bottom: 50px;
}

.supplier-invoice {
    font-size: 14px;
}

.label-courier-invoice {
    font-size: 1em;
}

.label-courier-invoice-header {
}

.label-courier-invoice-header table {
    width: 100%;
}

.label-courier-invoice-header table th {
    font-weight: bold;
    width: 1%;
    white-space: nowrap;
}

.label-courier-invoice-header table th,
.label-courier-invoice-header table td {
    vertical-align: top;
    padding: 0 1em 0.5em 0;
}

.label-courier-invoice-subject {
    font-weight: bold;
    margin: 0.8em 0 0.5em 0;
}

.label-courier-invoice-subject-order {
}

.label-courier-invoice-subject-date {
}

.label-courier-invoice-products {
}

.label-courier-invoice-products table {
    width: 100%;
}

.label-courier-invoice-products table td {
    border: 0.1em solid #000000;
    padding: 0.2em 0.3em;
}

.label-courier-invoice-products table thead td {
    font-weight: bold;
}

.label-courier-invoice-products table tfoot td {
    text-align: right;
}

.label-courier-invoice-totalpay {
    font-weight: bold;
}

.label-courier-invoice-totalpay-words {
    font-weight: bold;
    text-align: left;
}

.label-courier-invoice-signatures {
    margin: 1em 0;
    font-size: 1.2em;
}

.label-courier-invoice-stamp {
}

.label-courier-invoice-signature-label {
    float: left;
}

.label-courier-invoice-signature-value {
    float: left;
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 1.6em;
}

.label-courier-nko {
    font-size: 1em;
}

.label-courier-nko-caption {
    text-align: right;
}

.label-courier-nko-left-panel,
.label-courier-nko-middle-panel,
.label-courier-nko-right-panel {
    height: 100%;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.label-courier-nko-left-panel {
    width: 49%;
    padding-right: 1em;
}

.label-courier-nko-middle-panel {
    width: 2%;
    border: 1px dashed black;
    border-top: none;
    border-bottom: none;
    text-align: center;
    padding: 10em 0.5em;
}

.label-courier-nko-right-panel {
    width: 49%;
    padding-left: 1em;
}

.label-courier-nko-left-header {
    text-align: center;
}

.label-courier-nko-left-order {
    padding: 2em 0 2em 3em;
}

.label-courier-nko-left-order-label {
    display: inline-block;
    font-weight: bold;
}

.label-courier-nko-left-order-value {
    padding-left: 1em;
    display: inline-block;
    text-decoration: underline;
}

.label-courier-nko-left-order-date {
    padding: 1em 0 0 3em;
}

.label-courier-nko-left-accounts {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.label-courier-nko-left-accounts table {
    width: 100%;
}

.label-courier-nko-left-accounts table td,
.label-courier-nko-left-accounts table th {
    border: 0.1em solid black;
    width: 1%;
}

.label-courier-nko-left-accounts table th {
    font-size: 0.8em;
    font-weight: bold;
}

.label-courier-nko-left-client {
    padding-top: 1em;
}

.label-courier-nko-left-client-label {
    display: inline-block;
}

.label-courier-nko-left-client-value {
    padding-left: 0.5em;
    display: inline-block;
}

.label-courier-nko-left-subject {
    padding-top: 0.2em;
}

.label-courier-nko-left-subject-label {
    display: inline-block;
}

.label-courier-nko-left-subject-value {
    padding-left: 0.5em;
    display: inline-block;
}

.label-courier-nko-left-price {
    padding-top: 0.2em;
}

.label-courier-nko-left-price-label {
    display: inline-block;
}

.label-courier-nko-left-price-value {
    padding-left: 0.5em;
    display: inline-block;
}

.label-courier-nko-left-comments {
    padding-top: 0.2em;
}

.label-courier-nko-left-comments-label {
    display: inline-block;
}

.label-courier-nko-left-comments-value {
    float: right;
    text-decoration: underline;
    letter-spacing: 32em;
}

.label-courier-nko-left-cashier {
    padding-top: 3em;
}

.label-courier-nko-left-cashier-label {
    display: inline-block;
}

.label-courier-nko-left-cashier-value {
    float: right;
    text-decoration: underline;
    letter-spacing: 29em;
}

.label-courier-nko-left-cashier-hint {
    text-align: center;
    text-indent: 5em;
}

.label-courier-nko-right-header {
    text-align: center;
    padding-top: 1.5em;
}

.label-courier-nko-right-receipt {
    text-align: center;
    padding: 3.5em 0 0 0;
}

.label-courier-nko-right-receipt-caption {
    font-weight: bold;
}

.label-courier-nko-right-receipt-subject-label {
    display: inline-block;
}

.label-courier-nko-right-receipt-subject-value {
    display: inline-block;
    text-decoration: underline;
}

.label-courier-nko-right-client {
    padding-top: 2em;
}

.label-courier-nko-right-client-label {
    display: inline-block;
}

.label-courier-nko-right-client-value {
    padding-left: 0.5em;
    display: inline-block;
}

.label-courier-nko-right-subject {
    padding-top: 0.2em;
}

.label-courier-nko-right-subject-label {
    display: inline-block;
}

.label-courier-nko-right-subject-value {
    padding-left: 0.5em;
    display: inline-block;
}

.label-courier-nko-right-price {
    padding-top: 0.2em;
}

.label-courier-nko-right-price-label {
    display: inline-block;
}

.label-courier-nko-right-price-value {
    padding-left: 0.5em;
    display: inline-block;
}

.label-courier-nko-right-stamp {
    padding: 3em 1em;
}

.label-courier-nko-right-accountant {
    padding-top: 0;
}

.label-courier-nko-right-accountant-label {
    display: inline-block;
}

.label-courier-nko-right-accountant-value {
    float: right;
    text-decoration: underline;
    letter-spacing: 26em;
}

.label-courier-nko-right-accountant-hint {
    text-align: center;
    text-indent: 10em;
}

.label-courier-nko-right-cashier {
    padding-top: 2em;
}

.label-courier-nko-right-cashier-label {
    display: inline-block;
}

.label-courier-nko-right-cashier-value {
    float: right;
    text-decoration: underline;
    letter-spacing: 26em;
}

.label-courier-nko-right-cashier-hint {
    text-align: center;
    text-indent: 10em;
}

.label-courier-waybill {
    font-size: 1em;
}

.label-courier-waybill-company {
    border: 1px solid black;
    width: 50%;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding: 1em;
}

.label-courier-waybill-company-label {
    float: left;
    font-weight: bold;
    padding-right: 0.5em;
}

.label-courier-waybill-company-value {
}

.label-courier-waybill-order {
    width: 50%;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding: 1em;
}

.label-courier-waybill-order-caption {
    font-weight: bold;
}

.label-courier-waybill-order-number {
}

.label-courier-waybill-content-hand-written-value {
    text-decoration: underline;
    letter-spacing: 26em;
}

.label-courier-waybill-content {
    padding-bottom: 1em;
}

.label-courier-waybill-content table {
    width: 100%;
}

.label-courier-waybill-content table th {
    font-weight: bold;
    width: 1%;
    white-space: nowrap;
}

.label-courier-waybill-footer {
    padding-top: 1.5em;
}

.label-courier-waybill-footer-city-label {
    float: left;
    padding-right: 1em;
    font-weight: bold;
}

.label-courier-waybill-footer-city-value {
}

.label-courier-waybill-footer-storekeeper {
    float: left;
    padding-right: 1em;
    font-weight: bold;
}

.label-courier-waybill-footer-storekeeper-value {
    text-decoration: underline;
    letter-spacing: 26em;
}

.label-courier-waybill-footer-courier {
    float: left;
    padding-right: 1em;
    font-weight: bold;
}

.label-courier-waybill-footer-courier-value {
    text-decoration: underline;
    letter-spacing: 26em;
}

.label-courier-statement {
    font-size: 1em;
}

.label-courier-statement-caption {
    font-size: 1.5em;
    font-weight: bold;
}

.label-courier-statement-date {
    padding: 1em 0;
}

.label-courier-statement-footer {
    padding-top: 2em;
}

.label-courier-statement-sender {
    float: left;
}

.label-courier-statement-sender-label {
    display: inline-block;
}

.label-courier-statement-sender-value {
    display: inline-block;
    text-decoration: underline;
    letter-spacing: 13em;
}

.label-courier-statement-receiver {
    float: right;
}

.label-courier-statement-receiver-label {
    display: inline-block;
}

.label-courier-statement-receiver-value {
    display: inline-block;
    text-decoration: underline;
    letter-spacing: 13em;
}

.label-courier-statement-products {
}

.label-courier-statement-products table {
    width: 100%;
}

.label-courier-statement-products table thead td {
    font-weight: bold;
}

.label-courier-statement-products table td {
    border: 1px solid black;
}

.label-courier-statement-products-column-index {
}

.label-courier-statement-products-column-order {
    width: 6em;
}

.label-courier-statement-products-column-weight {
    width: 3em;
}

.label-courier-statement-products-column-price {
    width: 6em;
}

.label-courier-statement-products-column-delivery-price {
    width: 6em;
}

.label-courier-statement-products-column-receiver {
}

.label-warehouse-statement {

}

.label-warehouse-statement tbody {
    font-size: 0.9em;
}

.label-warehouse-statement tbody td.product {
    max-width: 230pt;
}

.label-warehouse-statement tbody td.product .product-event {
    font-size: 0.8em;
}

.label-warehouse-statement tbody td, .label-warehouse-statement thead td {
    border: 0.1em solid #000000;
}

.label-warehouse-statement .header-sender {
    padding: 0.5em 0;
}

.label-warehouse-statement .header {
    padding: 1.2em 0;
}

.label-warehouse-statement .date-print {
    text-align: right;
    font-size: 0.9em;
}

.label-warehouse-statement .date-print:after {
    float: none;
}

.label-warehouse-statement .text-important {
    font-weight: bold;
}

.label-warehouse-statement .main-products {
    padding: 1em 0;
}

.label-warehouse-statement .sings {
    padding: 3em 0;
}

.label-warehouse-statement .sings .sender {
    float: left;
}

.label-warehouse-statement .sings .receiving {
    float: right;
}

.label-warehouse-statement .total-print {
    padding-top: 0.3em;
    text-align: right;
}

@media print {
    @page {
        size: auto;
        margin: 0mm;
    }

    .printable * {
        -webkit-print-color-adjust: exact;
    }

    .printable-label {
        page-break-before: always;
        margin-left: 0;
        margin-right: 0;
    }

    .printable-label.printable-half-height {
        page-break-before: auto;
    }

    .printable-label.printable-half-height:nth-child(even) {
        page-break-before: always;
    }

    .printable-label.printable-a4,
    .printable-label.printable-a4-landscape {
        margin: 0;
        border: none;
    }

    .printable-label.printable-a4-landscape {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);

        margin-left: -80mm; /*210mm - 297mm*/
        height: 297mm;
        width: 297mm;
        max-height: 297mm;
        max-width: 297mm;
    }

    .printable-printbtn {
        display: none !important;
    }
}

