* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.4;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    color: #00176B;
}

h1, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

h1 b, h3 b, h4 b, h5 b, h6 b {
    font-weight: 900;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
}

.limit {
    max-width: 960px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

.wrapper {
    overflow: hidden;
    opacity: 1;
    min-height: 100%;
    max-width: 1903px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.header {
    background: url(../img/bg1.png) 0 0 no-repeat;
    min-height: 700px;
    width: 100%;
    padding-top: 20px;
}

.header h1 {
    line-height: 1.1;
    font-size: 48px;
}

.header p {
    font-size: 24px;
    line-height: 1.3;
    width: 70%;
}

.header .right {
    display: inline-block;
    width: 55%;
    vertical-align: top;
}

.header img {
    width: 666px;
    position: absolute;
    top: 0;
    left: 516px;
}

.logo {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 58px;
    color: #FF5A6E;
}

.button {
    display: inline-block;
    border: none;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    background-color: #FF009D;
    padding: 15px 50px;
    font-weight: 900;
    cursor: pointer;
    margin-top: 30px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    position: relative;
    outline: none;
    -webkit-transition: background-color .1s ease;
    -o-transition: background-color .1s ease;
    transition: background-color .1s ease;
    -webkit-box-shadow: 5px 0 20px #666;
    box-shadow: 5px 0 20px #666;
}

.button:focus,
.button:hover {
    text-decoration: none;
    color: #fff;
}

.button:hover {
    background-color: #cc007e;
}

.button:active {
    background-color: #ff33b1;
}

.s2 {
    background: url(../img/bg3.png) 50% 30% no-repeat;
    padding-top: 40px;
}

.s2 h2 {
    font-size: 36px;
}

.s2 .s2-list {
    padding: 50px 0;
}

.s2 .s2-list-item {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}

.s2 .s2-list-item p {
    font-size: 18px;
}

.s3 {
    background: url(../img/bg4.png) center center no-repeat;
    height: 790px;
    position: relative;
}

.s3 .text-center img {
    position: absolute;
    top: 1%;
    left: 48%;
}

.s3 h2 {
    margin-bottom: 15px;
    font-size: 30px;
    top: -40px;
    position: relative;
}

.slider {
    margin-top: 60px;
    text-align: center;
    font-size: 0;
    -webkit-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    transform: skewX(-5deg);
    position: relative;
}

ul.slider {
    padding: 0;
}

.slider li.sale {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/discount.png) 0 0 no-repeat;
    padding: 31px 15px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    -webkit-transform: skewX(5deg);
    -ms-transform: skewX(5deg);
    transform: skewX(5deg);
}

.slider li {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    height: 465px;
    width: 33%;
    text-align: left;
    overflow: hidden;
    position: relative;
}

.slider li img.mob_sl {
    display: none;
}

.slider.active1 li:nth-child(1) h3,
.slider.active2 li:nth-child(2) h3,
.slider.active3 li:nth-child(3) h3 {
    position: absolute;
    background: url(../img/cloud.png) 0 0 no-repeat;
    width: 450px;
    height: 100px;
    top: 0;
    left: 35%;
    -webkit-transform: translateX(-50%) skewX(5deg);
    -ms-transform: translateX(-50%) skewX(5deg);
    transform: translateX(-50%) skewX(5deg);
    display: inline-block;
    padding: 20px 55px;
    font-size: 24px;
    font-weight: 900;
    z-index: 2;
}

.slider.active3 li:nth-child(3) h3 {
    padding: 25px 40px;
}

.slider li img {
    -webkit-transform: skewX(5deg);
    -ms-transform: skewX(5deg);
    transform: skewX(5deg);
    position: relative;
    right: 400px;
}

.slider li:nth-child(2) img {
    right: 300px;
}

.slider li:nth-child(3) img {
    right: 230px;
}

.slider li .text_bg {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
}

.slider li .text_bg .text {
    -webkit-transform: skewX(5deg);
    -ms-transform: skewX(5deg);
    transform: skewX(5deg);
    padding: 17px 45px 25px;
    background: url(../img/cloud2.png) 0 80% no-repeat;
    height: 215px;
}

.slider li .text_bg .text p {
    font-size: 15px;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.slider.active1 li.sale {
    display: block;
    width: 160px;
    right: 310px;
    top: 10px;
    z-index: 10;
}

.slider.active1 li {
    width: 15%;
}

.slider.active1 li:nth-child(1) {
    width: 64%;
}

.slider.active1 li:nth-child(1) img {
    right: 60px;
}

.slider.active1 li:nth-child(1) .text_bg {
    display: block;
}

.slider.active2 li.sale {
    display: block;
    right: 150px;
    top: 10px;
    z-index: 10;
}

.slider.active2 li.sale ._item2 {
    display: block;
}

.slider.active2 li {
    width: 20%;
}

.slider.active2 li:nth-child(2) {
    width: 59%;
}

.slider.active2 li:nth-child(2) img {
    right: 25px;
}

.slider.active2 li:nth-child(2) .text_bg {
    display: block;
}

.slider.active3 li.sale {
    display: block;
    top: 10px;
    right: -40px;
    z-index: 10;
}

.slider.active3 li.sale ._item3 {
    display: block;
}

.slider.active3 li {
    width: 20%;
}

.slider.active3 li:nth-child(3) {
    width: 59%;
}

.slider.active3 li:nth-child(3) img {
    right: 85px;
}

.slider.active3 li:nth-child(3) .text_bg {
    display: block;
}

.slider li.sale p {
    margin: 0;
}

.slider.active2 li.sale p {
    width: 70%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 10px;
}

.slider.active3 li.sale p {
    width: 70%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 10px;
}

.slider li span.cloud {
    position: absolute;
    background: url(../img/cloud3.png) 0 0 no-repeat;
    width: 200px;
    height: 100px;
    bottom: -40px;
    left: 70%;
    -webkit-transform: translateX(-50%) skewX(0deg);
    -ms-transform: translateX(-50%) skewX(0deg);
    transform: translateX(-50%) skewX(0deg);
    display: inline-block;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 900;
    z-index: 2;
}

.slider.active1 li:nth-child(1) span.cloud,
.slider.active2 li:nth-child(2) span.cloud,
.slider.active3 li:nth-child(3) span.cloud {
    display: none;
}

.slider .sale_item1,
.slider .sale_item2,
.slider .sale_item3 {
    display: none;
}

.slider.active1 .sale_item1,
.slider.active2 .sale_item2,
.slider.active3 .sale_item3 {
    display: block;
}

.s4 {
    background: url(../img/bg8.png) 0 0 no-repeat;
    position: relative;
    top: -75px;
    height: 550px;
}

.s4 h2 {
    padding-top: 30px;
    font-size: 36px;
}

.s4 h2:after {
    content: url(../img/bg3.png);
    background: 50% 100% no-repeat;
}

.s4 .s4-list {
    padding: 20px 0 50px;
}

.s4 .s4-list-item {
    width: 22%;
    display: inline-block;
    vertical-align: top;
}

.s4 .s4-list-item p {
    color: #00176B;
}

.s4 .s4-list-item img {
    margin: 0 auto;
}

.s5 {
    background: url(../img/bg9.png) center center no-repeat;
    height: 600px;
    position: relative;
    top: -80px;
    padding: 30px 0;
}

.s5 .desc-hidden {
    display: none;
}

.s5 img {
    width: 550px;
    position: absolute;
    top: 30px;
    right: 550px;
}

.s5 .right {
    display: inline-block;
    width: 95%;
    position: relative;
    padding-left: 32%;
}

.s5 .right h3 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 0;
}

.s5 .right span,
.s5 .right p {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.s5 .right span {
    font-size: 18px;
    margin-top: 0;
}

.s5 .right p {
    font-size: 20px;
    padding-top: 40px;
    line-height: 1.1;
    color: #fff;
    padding-left: 80px;
}

.s5 .right ul {
    padding-left: 15px;
}

.s5 .right ul li {
    padding-top: 10px;
}

.s6 {
    background: url(../img/bg10.png) center 80% no-repeat;
    height: 620px;
    padding-top: 70px;
    position: relative;
    top: -85px;
    margin-bottom: -85px;
}

.s6 .left {
    width: 49%;
    display: inline-block;
    position: relative;
}

.s6 img {
    position: absolute;
    width: 510px;
    bottom: 0;
    right: -100px;
}

.s6 .left {
    padding-bottom: 50px;
    position: relative;
    top: 15px;
}

.s6 .left h3 {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 0;
}

.s6 .left form {
    margin-top: 30px;
}

.s6 .left form input {
    display: block;
    width: 60%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #AEAEAE;
    outline: none;
}

.s6 .left form input::-webkit-input-placeholder {
    color: #C8C8C8;
}

.s6 .left form input::-moz-placeholder {
    color: #C8C8C8;
}

.s6 .left form input:-ms-input-placeholder {
    color: #C8C8C8;
}

.s6 .left form input::placeholder {
    color: #C8C8C8;
}

.js_submit {
    margin-top: 10px;
    font-size: 18px;
    padding: 15px 30px;
    width: 60%;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .limit {
        width: 800px;
    }

    .header .right {
        width: 65%;
    }

    .s5 .right {
        width: 100%;
    }

    .s5 img {
        right: 455px;
    }

    .slider.active1 li.sale {
        right: 240px;
        top: 10px;
        z-index: 10;
    }

    .slider.active3 li.sale {
        right: -20px;
        top: 10px;
    }

    .slider.active2 li.sale p,
    .slider.active3 li.sale p {
        left: 20px;
    }

    .slider.active1 li:nth-child(1) h3,
    .slider.active2 li:nth-child(2) h3,
    .slider.active3 li:nth-child(3) h3 {
        left: 39%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 800px) {
    .limit {
        max-width: 480px;
    }

    .logo {
        font-size: 38px;
    }

    .header {
        background: url(../img/bg-mob-1.png) 0 0 no-repeat;
        min-height: 380px;
    }

    .header .right {
        width: 100%;
    }

    .header h1 {
        font-size: 26px;
        margin: 15px 0;
    }

    .header img {
        width: 220px;
        top: 105px;
        left: 260px;
    }

    .header p {
        font-size: 18px;
        margin: 20px 0;
        line-height: 1.2;
        width: 55%;
    }

    .button {
        font-size: 16px;
        padding: 10px 40px;
        margin-top: 6px;
    }

    .s2 {
        padding-top: 20px;
        background: url(../img/mob-line.png) 50% 12% no-repeat;
    }

    .s2 .s2-list {
        padding: 40px 0;
    }

    .s2 h2 {
        font-size: 22px;
        margin: 0;
        line-height: 1.2;
    }

    .s2 .s2-list-item {
        width: 48%;
    }

    .s2 .s2-list-item p {
        font-size: 16px;
        margin: 0;
        margin-bottom: 10px;
    }

    .s3 {
        background: url(../img/bg-mob-222.png) center -30% no-repeat;
        height: 975px;
    }

    .s3 .limit {
        top: -10px;
        padding-left: 0;
        padding-right: 0;
    }

    .s3 .text-center img {
        left: 40%;
        top: 45px;
    }

    .s3 h2 {
        font-size: 20px;
        position: relative;
        top: 10px;
    }

    .s3 .slider li {
        width: 480px;
        display: block;
        height: 190px;
    }

    .s3 .slider.active1 li:nth-child(1),
    .s3 .slider.active2 li:nth-child(2),
    .s3 .slider.active3 li:nth-child(3) {
        display: block;
        width: 480px !important;
        height: 380px;
        overflow-y: hidden;
        clear: both;
    }

    .s3 .slider li:nth-child(2) img {
        top: -60px;
    }

    .s3 .slider.active2 li:nth-child(2) img {
        top: 0;
    }

    .s3 .slider.active2 li:nth-child(2) img ul {
        margin: 0;
        padding: 0;
    }

    .s3 .slider {
        -webkit-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        transform: skewX(0deg);
    }

    .s3 .slider.active1 li:nth-child(1) img,
    .s3 .slider.active2 li:nth-child(2) img,
    .s3 .slider.active3 li:nth-child(3) img {
        width: 480px;
        height: auto;
    }

    .s3 .slider li img.mob_sl {
        display: block;
        width: 100%;
        right: 0 !important;
    }

    .s3 .slider li h3 {
        display: none;
    }

    .s3 .slider.active1 li h3,
    .s3 .slider.active2 li h3,
    .s3 .slider.active3 li h3 {
        -webkit-transform: translateX(0) skewX(0deg);
        -ms-transform: translateX(0) skewX(0deg);
        transform: translateX(0) skewX(0deg);
        font-size: 22px;

        top: -10px;
        left: 0;
        padding: 25px 50px;
    }

    .s3 .slider.active3 li h3 {
        padding: 25px 40px;
    }

    .s3 .slider li .text_bg .text {
        -webkit-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        transform: skewX(0deg);
        padding: 30px 30px 5px;
        height: 230px;
    }

    .s3 .slider li .text_bg .text p {
        font-size: 14.5px;
    }

    .s3 .slider li img {
        max-width: 480px;
        -webkit-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        transform: skewX(0deg);
        right: 0;
    }

    .s3 .slider.active1 li:nth-child(1) img,
    .s3 .slider.active2 li:nth-child(2) img,
    .s3 .slider.active3 li:nth-child(3) img {
        right: 0;
    }

    .s3 .slider li span.cloud {
        height: 50px;
        bottom: 10px;
        left: 40%;
    }

    .s3 .slider li.sale {
        display: none;
        -webkit-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        transform: skewX(0deg);
        padding: 20px 10px;
        height: 100px;
        background: url(../img/mob-discount.png) 0 0 no-repeat;
    }

    .s3 .slider.active1 li.sale {
        right: -65px;
        top: 35px;
        display: block;
    }

    .s3 .slider.active2 li.sale {
        right: -385px;
        top: 230px;
        display: block;
    }

    .s3 .slider.active3 li.sale {
        top: 405px;
        right: -380px;
        display: block;
    }

    .s3 .slider.active2 li.sale p,
    .s3 .slider.active3 li.sale p {
        left: 4px;
        width: 19%;
    }

    .s3 .slider li.sale p {
        font-size: 15px;
        width: 53%;
    }

    .s4 {
        background: none;
        height: 1015px;
    }

    .s4 h2 {
        font-size: 22px;
    }

    .s4 h2:after {
        content: url(../img/mob-line.png);
    }

    .s4 .s4-list {
        padding: 0;
    }

    .s4 .s4-list-item {
        width: 100%;
    }

    .s4 .s4-list-item p {
        font-size: 20px;
        width: 65%;
        text-align: center;
        margin: 20px auto;
    }

    .s5 {
        background: url(../img/bg-mob-44.png) center center no-repeat;
        height: 650px;
    }

    .s5 .mob-hidden {
        display: none;
    }

    .s5 .desc-hidden {
        display: block;
    }

    .s5 img {
        width: 340px;
        top: 240px;
        right: 165px;
    }

    .s5 .right {
        width: 100%;
        padding-left: 30px;
    }

    .s5 .right h3 {
        font-size: 22px;
        margin-top: 40px;
    }

    .s5 .right span,
    .s5 .right p {
        font-size: 15px;
    }

    .s5 .right p {
        padding-left: 218px;
        padding-top: 60px;
    }

    .s5 .right ul {
        list-style-type: none;
        padding: 0;
        font-size: 14px;
    }

    .s5 .right ul li {
        padding-top: 0;
        padding-bottom: 10px;
    }

    .s6 {
        background: url(../img/bg-mob-6.png) center 80% no-repeat;
        text-align: center;
        height: 660px;
        top: -145px;
        margin-bottom: -145px;
    }

    .s6 .limit {
        margin-top: 40px;
    }

    .s6 h3 {
        margin: 0;
    }

    .s6 p {
        margin: 5px 0;
    }

    .s6 img {
        display: none;
    }

    .s6 .left {
        width: 80%;
    }

    .s6 .left form {
        margin-top: 0;
    }

    .s6 .left form input {
        width: 100%;
        padding: 15px 20px;
        font-size: 18px;
    }

    .s6 .js_submit {
        width: 100%;
        font-size: 18px;
        padding: 15px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .limit {
        max-width: 320px;
    }

    .logo {
        font-size: 38px;
    }

    .header {
        min-height: 380px;
    }

    .header .right {
        width: 100%;
    }

    .header h1 {
        font-size: 24px;
        margin: 5px 0;
    }

    .header img {
        width: 220px;
        top: 140px;
        left: 174px;
    }

    .header p {
        font-size: 16px;
        margin: 10px 0;
        line-height: 1.2;
        width: 55%;
    }

    .button {
        font-size: 14px;
        padding: 10px 20px;
        margin-top: 6px;
    }

    .s2 {
        padding-top: 20px;
        background: url(../img/mob-line.png) 50% 16% no-repeat;
    }

    .s2 .s2-list {
        padding: 40px 0;
    }

    .s2 h2 {
        font-size: 20px;
        margin: 0;
        line-height: 1.2;
    }

    .s2 .s2-list-item {
        width: 48%;
    }

    .s2 .s2-list-item p {
        font-size: 14px;
        margin: 0;
        margin-bottom: 10px;
    }

    .s3 {
        background: url(../img/bg-mob-2.png) center 0 no-repeat;
        height: 795px;
    }

    .s3 .limit {
        top: -10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .s3 .text-center img {
        left: 40%;
        top: 45px;
    }

    .s3 h2 {
        font-size: 18px;
        position: relative;
        top: 10px;
    }

    .s3 .slider li {
        width: 310px;
        display: block;
        height: 150px;
    }

    .s3 .slider.active1 li:nth-child(1),
    .s3 .slider.active2 li:nth-child(2),
    .s3 .slider.active3 li:nth-child(3) {
        display: block;
        width: 310px !important;
        height: 350px;
        overflow-y: hidden;
        clear: both;
    }

    .s3 .slider li:nth-child(2) img {
        top: -60px;
    }

    .s3 .slider.active2 li:nth-child(2) img {
        top: 0;
    }

    .s3 .slider.active2 li:nth-child(2) img ul {
        margin: 0;
        padding: 0;
    }

    .s3 .slider.active1 li:nth-child(1) img,
    .s3 .slider.active2 li:nth-child(2) img,
    .s3 .slider.active3 li:nth-child(3) img {
        width: 310px;
        height: auto;
    }

    .s3 .slider li img.mob_sl {
        display: block;
        width: 100%;
        right: 0 !important;
    }

    .s3 .slider li h3 {
        display: none;
    }

    .s3 .slider.active1 li h3,
    .s3 .slider.active2 li h3,
    .s3 .slider.active3 li h3 {
        font-size: 18px;
        background: url(../img/mob-cloud1.png) 0 0 no-repeat;
        top: -10px;
        left: 0;
        padding: 15px 40px;
    }

    .s3 .slider.active3 li h3 {
        padding: 15px;
    }

    .s3 .slider li .text_bg .text {
        background: url(../img/mob-cloud2.png) 0 80% no-repeat;
        padding: 47px 15px 5px;
        height: 230px;
    }

    .s3 .slider li .text_bg .text p {
        font-size: 11px;
    }

    .s3 .slider li img {
        max-width: 310px;
        right: 0;
        display: none;
    }

    .s3 .slider li span.cloud {
        height: 50px;
        bottom: 10px;
        left: 40%;
    }

    .s3 .slider li.sale {
        display: none;
        padding: 20px 10px;
        height: 100px;
    }

    .s3 .slider.active1 li.sale {
        right: 120px;
        top: 55px;
        display: block;
    }

    .s3 .slider.active2 li.sale {
        right: -30px;
        top: 205px;
        display: block;
    }

    .s3 .slider.active3 li.sale {
        top: 360px;
        right: -30px;
        display: block;
    }

    .s3 .slider.active2 li.sale p,
    .s3 .slider.active3 li.sale p {
        left: 15px;
        width: 20%;
    }

    .s3 .slider li.sale p {
        font-size: 15px;
        width: 53%;
    }

    .s4 {
        background: none;
        height: 1015px;
    }

    .s4 h2 {
        font-size: 20px;
    }

    .s4 .s4-list {
        padding: 0;
    }

    .s4 .s4-list-item {
        width: 100%;
    }

    .s4 .s4-list-item p {
        font-size: 18px;
        width: 65%;
        text-align: center;
        margin: 20px auto;
    }

    .s5 {
        background: url(../img/bg-mob-4.png) center center no-repeat;
        height: 650px;
    }

    .s5 .mob-hidden {
        display: none;
    }

    .s5 .desc-hidden {
        display: block;
    }

    .s5 img {
        width: 340px;
        top: 230px;
        right: 110px;
    }

    .s5 .right {
        width: 100%;
        padding-left: 30px;
    }

    .s5 .right h3 {
        font-size: 20px;
    }

    .s5 .right span,
    .s5 .right p {
        font-size: 14px;
    }

    .s5 .right p {
        padding-left: 118px;
        padding-top: 45px;
    }

    .s5 .right ul {
        list-style-type: none;
        padding: 0;
        font-size: 12px;
    }

    .s5 .right ul li {
        padding-top: 0;
        padding-bottom: 10px;
    }

    .s6 {
        height: 660px;
        top: -145px;
        margin-bottom: -145px;
    }

    .s6 .limit {
        margin-top: 0;
    }

    .s6 h3 {
        margin: 0;
    }

    .s6 p {
        margin: 5px 0;
    }

    .s6 img {
        display: none;
    }

    .s6 .left {
        width: 100%;
    }

    .s6 .left form {
        margin-top: 0;
    }

    .s6 .left form input {
        width: 100%;
        padding: 15px 20px;
        font-size: 18px;
    }

    .s6 .js_submit {
        width: 100%;
        font-size: 18px;
        padding: 15px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .header .limit {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header img {
        left: 185px;
    }

    .s3 .limit {
        padding-left: 0;
        padding-right: 0;
    }

    .s3 .slider li {
        width: 320px;
    }

    .s3 .slider.active1 li:nth-child(1),
    .s3 .slider.active2 li:nth-child(2),
    .s3 .slider.active3 li:nth-child(3) {
        width: 320px !important;
    }

    .s3 .slider.active1 li:nth-child(1) img,
    .s3 .slider.active2 li:nth-child(2) img,
    .s3 .slider.active3 li:nth-child(3) img {
        width: 320px;
    }

    .s3 .slider li img {
        max-width: 320px;
    }

    .s3 .slider li .text_bg .text p {
        font-size: 11.3px;
    }
}
